/*12.0*/

#mystic_night{
    background: url(../images/song_bg/MysticNight.webp);
    background-size: contain;
}

#fission{
    background: url(../images/song_bg/Fission.webp);
    background-size: contain;
}

#waldjaegerin{
    background: url(../images/song_bg/Waldjaegerin.webp);
    background-size: contain;
}

#eclipses{
    background: url(../images/song_bg/Eclipses.webp);
    background-size: contain;
}

#euouae{
    background: url(../images/song_bg/Euouae.webp);
    background-size: contain;
}

#white_horse_disease{
    background: url(../images/song_bg/WhiteHorseDesease.webp);
    background-size: contain;
}

/*12.1*/

#atomic_dropper{
    background: url(../images/song_bg/AtomicDropper.webp);
    background-size: contain;
}

#moving_on{
    background: url(../images/song_bg/MovingOn.webp);
    background-size: contain;
}

#hiccup_drunk{
    background: url(../images/song_bg/HiccupDrunk.webp);
    background-size: contain;
}

#variance{
    background: url(../images/song_bg/Variance.webp);
    background-size: contain;
}

#go_escape{
    background: url(../images/song_bg/Goescape.webp);
    background-size: contain;
}

#dangerous_insanity_2019_rework{
    background: url(../images/song_bg/DangerousInsanity.webp);
    background-size: contain;
}

#omohidefantasia{
    background: url(../images/song_bg/Omohidefantasia.webp);
    background-size: contain;
}

#tronica_and_fugue{
    background: url(../images/song_bg/TronicaandFugue.webp);
    background-size: contain;
}