/*12.0*/

#mystic_night{
    background: url(../images/song_bg/MysticNight.webp);
    background-size: contain;
}

#fission{
    background: url(../images/song_bg/Fission.webp);
    background-size: contain;
}

#waldjaegerin{
    background: url(../images/song_bg/Waldjaegerin.webp);
    background-size: contain;
}

#eclipses{
    background: url(../images/song_bg/Eclipses.webp);
    background-size: contain;
}

#euouae{
    background: url(../images/song_bg/Euouae.webp);
    background-size: contain;
}

#white_horse_disease{
    background: url(../images/song_bg/WhiteHorseDesease.webp);
    background-size: contain;
}

/*12.1*/

#atomic_dropper{
    background: url(../images/song_bg/AtomicDropper.webp);
    background-size: contain;
}

#moving_on{
    background: url(../images/song_bg/MovingOn.webp);
    background-size: contain;
}

#hiccup_drunk{
    background: url(../images/song_bg/HiccupDrunk.webp);
    background-size: contain;
}

#variance{
    background: url(../images/song_bg/Variance.webp);
    background-size: contain;
}

#go_escape{
    background: url(../images/song_bg/Goescape.webp);
    background-size: contain;
}

#dangerous_insanity_2019_rework{
    background: url(../images/song_bg/DangerousInsanity.webp);
    background-size: contain;
}

#omohidefantasia{
    background: url(../images/song_bg/Omohidefantasia.webp);
    background-size: contain;
}

#tronica_and_fugue{
    background: url(../images/song_bg/TronicaandFugue.webp);
    background-size: contain;
}

/*12.2*/

#depth_of_memory{
    background: url(../images/song_bg/DepthOfMem0ry.webp);
    background-size: contain;
}

#tsuinomaihime{
    background: url(../images/song_bg/TsuinoMaihime.webp);
    background-size: contain;
}

#kanashiiryuutokaitul{
    background: url(../images/song_bg/KanashiiRyuutoKaitul.webp);
    background-size: contain;
}

#lumina{
    background: url(../images/song_bg/Lumina.webp);
    background-size: contain;
}

#win_and_bow{
    background: url(../images/song_bg/Winandbow.webp);
    background-size: contain;
}

#reconstruction{
    background: url(../images/song_bg/REconstruction.webp);
    background-size: contain;
}

#snowy_light{
    background: url(../images/song_bg/SnowyLight.webp);
    background-size: contain;
}

#starbirds_of_zenith_blue{
    background: url(../images/song_bg/StarbirdsOfZenithBlue.webp);
    background-size: contain;
}

/*12.3*/

#slyness_foxx{
    background: url(../images/song_bg/SlynessFoxx.webp);
    background-size: contain;
}

#own_the_night{
    background: url(../images/song_bg/OwnTheNight.webp);
    background-size: contain;
}

#paved_garden{
    background: url(../images/song_bg/PavedGarden.webp);
    background-size: contain;
}

#lodeinfo{
    background: url(../images/song_bg/Lodeinfo.webp);
    background-size: contain;
}

#fierce_heart{
    background: url(../images/song_bg/Fierce_heart.webp);
    background-size: contain;
}

#ia{
    background: url(../images/song_bg/IA.webp);
    background-size: contain;
}

#zephyr{
    background: url(../images/song_bg/Zephyr.webp);
    background-size: contain;
}

#lotus{
    background: url(../images/song_bg/Lotus.webp);
    background-size: contain;
}

/*12.4*/

#to_soar{
    background: url(../images/song_bg/ToSoar.webp);
    background-size: contain;
}

#crocus{
    background: url(../images/song_bg/WaveTest07.webp);
    background-size: contain;
}

#you_psy{
    background: url(../images/song_bg/YouPsy.webp);
    background-size: contain;
}

#sugarhigh{
    background: url(../images/song_bg/SugarHigh.webp);
    background-size: contain;
}

#magic_of_love_dynamix_ver{
    background: url(../images/song_bg/MagicOfLove.webp);
    background-size: contain;
}

#hatsukoi_memories{
    background: url(../images/song_bg/HatsukoiMemories.webp);
    background-size: contain;
}

#phi{
    background: url(../images/song_bg/Φ.webp);
    background-size: contain;
}

#Hoshizoratoraberu{
    background: url(../images/song_bg/Hoshizoratoraberu.webp);
    background-size: contain;
}

/*12.5*/

#Fireworks{
    background: url(../images/song_bg/Fireworks.webp);
    background-size: contain;
}

#lunar_arrow{
    background: url(../images/song_bg/Lunar_Arrow.webp);
    background-size: contain;
}

#Offshore{
    background: url(../images/song_bg/Offshore.webp);
    background-size: contain;
}

#outer_space{
    background: url(../images/song_bg/Outer_Space.webp);
    background-size: contain;
}

#stagefive{
    background: url(../images/song_bg/Stage5.webp);
    background-size: contain;
}

#Unshakable{
    background: url(../images/song_bg/Unshakable.webp);
    background-size: contain;
}

#Pollux{
    background: url(../images/song_bg/Pollux.webp);
    background-size: contain;
}

#the_shows_over{
    background: url(../images/song_bg/TheShowsOver.webp);
    background-size: contain;
}

#Aeronautica{
    background: url(../images/song_bg/Aeronautica.webp);
    background-size: contain;
}

/*12.6*/

#Teardrops{
    background: url(../images/song_bg/Teardrops.webp);
    background-size: contain;
}

#NightTheater{
    background: url(../images/song_bg/NightTheater.webp);
    background-size: contain;
}

#last_farewell{
    background: url(../images/song_bg/LastFarewell.webp);
    background-size: contain;
}

#in_search_of{
    background: url(../images/song_bg/InSearchOf.webp);
    background-size: contain;
}

#PARALLEL_ADDRESS{
    background: url(../images/song_bg/Parallel_Address.webp);
    background-size: contain;
}

#Legacy{
    background: url(../images/song_bg/Legacy.webp);
    background-size: contain;
}

#Persephone{
    background: url(../images/song_bg/Persephone.webp);
    background-size: contain;
}

#arcana_idola{
    background: url(../images/song_bg/ArcanaIdola.webp);
    background-size: contain;
}

#Encore{
    background: url(../images/song_bg/Encore.webp);
    background-size: contain;
}

/*12.7*/

#red_horse_massacre{
    background: url(../images/song_bg/Redhorsemassacre.webp);
    background-size: contain;
}

#Flashback{
    background: url(../images/song_bg/Flashback.webp);
    background-size: contain;
}

#mass_control{
    background: url(../images/song_bg/MassControl.webp);
    background-size: contain;
}

#angelxangel{
    background: url(../images/song_bg/AngelxAngel.webp);
    background-size: contain;
}

#PlasmaPlusPlatinum{
    background: url(../images/song_bg/PlasmaPlusPlatinum.webp);
    background-size: contain;
}

#ReiroMeteor{
    background: url(../images/song_bg/ReiroMeteor.webp);
    background-size: contain;
}

#before_sunrise{
    background: url(../images/song_bg/BeforeSunrise.webp);
    background-size: contain;
}

#Decomposition{
    background: url(../images/song_bg/Decomposition.webp);
    background-size: contain;
}

/*12.8*/

#high_speed_riders{
    background: url(../images/song_bg/HighSpeedRiders.webp);
    background-size: contain;
}

#aterlFus{
    background: url(../images/song_bg/aterlFus.webp);
    background-size: contain;
}

#hongkong{
    background: url(../images/song_bg/Hongkong.webp);
    background-size: contain;
}

#Cervelle_connexion{
    background: url(../images/song_bg/CervelleConnexion.webp);
    background-size: contain;
}

#crystal_clear_sky{
    background: url(../images/song_bg/CrystalClearSky.webp);
    background-size: contain;
}

#moshimoshi{
    background: url(../images/song_bg/MoshiMoshiBit.webp);
    background-size: contain;
}

#Keigannozettaireido{
    background: url(../images/song_bg/Keigannozettaireido.webp);
    background-size: contain;
}

#Okesuchi{
    background: url(../images/song_bg/Okesuchi.webp);
    background-size: contain;
}

/*12.9*/

#oriental_landscape{
    background: url(../images/song_bg/OrientalLandscape.webp);
    background-size: contain;
}

#hall_of_fame{
    background: url(../images/song_bg/HallOfFame.webp);
    background-size: contain;
}

#tech_nique{
    background: url(../images/song_bg/TechNique.webp);
    background-size: contain;
}

#seconded_world{
    background: url(../images/song_bg/SecondedWorld.webp);
    background-size: contain;
}

#nova{
    background: url(../images/song_bg/NOVA.webp);
    background-size: contain;
}

#back_out{
    background: url(../images/song_bg/BackOut.webp);
    background-size: contain;
}

/*12.9+*/

#time_and_space_dynamix_edit{
    background: url(../images/song_bg/TimeAndSpaceDynamix.webp);
    background-size: contain;
}

#war_in_the_mirrorworld{
    background: url(../images/song_bg/WarintheMirrorworld.webp);
    background-size: contain;
}

#Invaded{
    background: url(../images/song_bg/Invaded.webp);
    background-size: contain;
}

#yotta{
    background: url(../images/song_bg/Yotta.webp);
    background-size: contain;
}

#triumph_and_regret{
    background: url(../images/song_bg/TriumphRegret.webp);
    background-size: contain;
}

#ennor{
    background: url(../images/song_bg/Ennor.webp);
    background-size: contain;
}

/*uncertain*/

.uncertain_song #soar_to{
    background: url(../images/song_bg/SoarTo.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}

.uncertain_song #black_magnam{
    background: url(../images/song_bg/BlackMagnam.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}

.uncertain_song #Necroxus{
    background: url(../images/song_bg/Necroxus.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}

.uncertain_song #reborn{
    background: url(../images/song_bg/Reborn.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}