/*13.0*/

#firefly{
    background: url(../images/song_bg/Firefly.png);
    background-size: contain;
}

#life_style{
    background: url(../images/song_bg/LifeStyle.png);
    background-size: contain;
}

#theme_of_rabi_rabi{
    background: url(../images/song_bg/ThemeofRabiRibi.png);
    background-size: contain;
}

#hope{
    background: url(../images/song_bg/Hope.png);
    background-size: contain;
}

#sultan_madness{
    background: url(../images/song_bg/SultanMadness.png);
    background-size: contain;
}

#class_memories{
    background: url(../images/song_bg/ClassMemories.png);
    background-size: contain;
}

#nightmare_girl{
    background: url(../images/song_bg/NightmareGirl.png);
    background-size: contain;
}

/*13.1*/

#fading_sky{
    background: url(../images/song_bg/FadingSky.png);
    background-size: contain;
}

#happiness_bread{
    background: url(../images/song_bg/HappinessBread.png);
    background-size: contain;
}

#whirlwind{
    background: url(../images/song_bg/WHIRLWIND.png);
    background-size: contain;
}

#thatawesome{
    background: url(../images/song_bg/ThatAwesome.png);
    background-size: contain;
}

#ice_chandelier{
    background: url(../images/song_bg/IceChandelier.png);
    background-size: contain;
}

#eschatology{
    background: url(../images/song_bg/Eschatology.png);
    background-size: contain;
}

#massacre{
    background: url(../images/song_bg/MassacrE3rc4224M.png);
    background-size: contain;
}

#system_interior{
    background: url(../images/song_bg/SystemInterior.png);
    background-size: contain;
}

#kokytos{
    background: url(../images/song_bg/Kokytos.png);
    background-size: contain;
}