#firefly{
    background: url(../images/song_bg/Firefly.webp);
    background-size: contain;
}

#life_style{
    background: url(../images/song_bg/LifeStyle.webp);
    background-size: contain;
}

#theme_of_rabi_rabi{
    background: url(../images/song_bg/ThemeofRabiRibi.webp);
    background-size: contain;
}

#hope{
    background: url(../images/song_bg/Hope.webp);
    background-size: contain;
}

#sultan_madness{
    background: url(../images/song_bg/SultanMadness.webp);
    background-size: contain;
}

#class_memories{
    background: url(../images/song_bg/ClassMemories.webp);
    background-size: contain;
}

#nightmare_girl{
    background: url(../images/song_bg/NightmareGirl.webp);
    background-size: contain;
}

#fading_sky{
    background: url(../images/song_bg/FadingSky.webp);
    background-size: contain;
}

#happiness_bread{
    background: url(../images/song_bg/HappinessBread.webp);
    background-size: contain;
}

#whirlwind{
    background: url(../images/song_bg/WHIRLWIND.webp);
    background-size: contain;
}

#thatawesome{
    background: url(../images/song_bg/ThatAwesome.webp);
    background-size: contain;
}

#ice_chandelier{
    background: url(../images/song_bg/IceChandelier.webp);
    background-size: contain;
}

#eschatology{
    background: url(../images/song_bg/Eschatology.webp);
    background-size: contain;
}

#massacre{
    background: url(../images/song_bg/MassacrE3rc4224M.webp);
    background-size: contain;
}

#system_interior{
    background: url(../images/song_bg/SystemInterior.webp);
    background-size: contain;
}

#kokytos{
    background: url(../images/song_bg/Kokytos.webp);
    background-size: contain;
}

#impromptu{
    background: url(../images/song_bg/Impromptu.webp);
    background-size: contain;
}

#aegis{
    background: url(../images/song_bg/Aegis.webp);
    background-size: contain;
}

#ionosphere{
    background: url(../images/song_bg/Ionosphere.webp);
    background-size: contain;
}

#chromosphere{
    background: url(../images/song_bg/Chromosphere.webp);
    background-size: contain;
}

#cloudprince{
    background: url(../images/song_bg/Cloudprince.webp);
    background-size: contain;
}

#red_liquid{
    background: url(../images/song_bg/RedLiquid.webp);
    background-size: contain;
}

#tumi{
    background: url(../images/song_bg/tumi.webp);
    background-size: contain;
}

#love_like_were_dying{
    background: url(../images/song_bg/Lovelikeweredying.webp);
    background-size: contain;
}

#occhoco_rest_less{
    background: url(../images/song_bg/OCCHOCO-REST-LESS.webp);
    background-size: contain;
}

#gleam_stone{
    background: url(../images/song_bg/WaveTest08.webp);
    background-size: contain;
}

#party_vinyl{
    background: url(../images/song_bg/PartyVinyl.webp);
    background-size: contain;
}

#axis{
    background: url(../images/song_bg/Axis.webp);
    background-size: contain;
}

#space_runners{
    background: url(../images/song_bg/SpaceRunners.webp);
    background-size: contain;
}

#rocket_lanterns{
    background: url(../images/song_bg/RocketLantern.webp);
    background-size: contain;
}

#enhanced_lights{
    background: url(../images/song_bg/EnhancedLights.webp);
    background-size: contain;
}

#hakushokunoyumede{
    background: url(../images/song_bg/HakushokuNoYumeDe.webp);
    background-size: contain;
}

#seedy_try{
    background: url(../images/song_bg/SeedyTry.webp);
    background-size: contain;
}

#in_a_vat{
    background: url(../images/song_bg/Inavat.webp);
    background-size: contain;
}

#blood_chivalry{
    background: url(../images/song_bg/BloodChivalry.webp);
    background-size: contain;
}

#ace_sniper_dnx_edit{
    background: url(../images/song_bg/AceSniper.webp);
    background-size: contain;
}

#vanilla_sky{
    background: url(../images/song_bg/VanillaSky.webp);
    background-size: contain;
}

#hyperspace_jump{
    background: url(../images/song_bg/HyperspaceJump.webp);
    background-size: contain;
}

#isera_dnx_edit{
    background: url(../images/song_bg/ISERA.webp);
    background-size: contain;
}

#caelus{
    background: url(../images/song_bg/Caelus.webp);
    background-size: contain;
}

#sunset_toybox{
    background: url(../images/song_bg/SunsetToybox.webp);
    background-size: contain;
}

#infinite_enerzy_-overdoze-{
    background: url(../images/song_bg/INFiNiTEENERZY.webp);
    background-size: contain;
}

#re_construct{
    background: url(../images/song_bg/ReConstruct.webp);
    background-size: contain;
}

#xd{
    background: url(../images/song_bg/XD.webp);
    background-size: contain;
}

#qingfang{
    background: url(../images/song_bg/qingfang.webp);
    background-size: contain;
}

#tianshi{
    background: url(../images/song_bg/tianshi.webp);
    background-size: contain;
}

#sky_adventure{
    background: url(../images/song_bg/SkyAdventure.webp);
    background-size: contain;
}

#fl0at_on_air{
    background: url(../images/song_bg/Fl0atOnAir.webp);
    background-size: contain;
}

#libra{
    background: url(../images/song_bg/Libra.webp);
    background-size: contain;
}

#elyxivn_elyxium{
    background: url(../images/song_bg/ELYXiVNELYXiUM.webp);
    background-size: contain;
}

#wangxiang{
    background: url(../images/song_bg/wangxiang.webp);
    background-size: contain;
}

#knignt_of_tripletz{
    background: url(../images/song_bg/KnightOfTripletz.webp);
    background-size: contain;
}

#gallium_arsenide{
    background: url(../images/song_bg/Gallium_arsenide.webp);
    background-size: contain;
}

#mouse_runs_for_cheese_short_edit{
    background: url(../images/song_bg/MouseRunsForCheese.webp);
    background-size: contain;
}

#anokumene{
    background: url(../images/song_bg/Anokumene.webp);
    background-size: contain;
}

#energy{
    background: url(../images/song_bg/WaveTest08.webp);
    background-size: contain;
}

#goldelius{
    background: url(../images/song_bg/Goldelius.webp);
    background-size: contain;
}

#daydream{
    background: url(../images/song_bg/DaydreamDynamix.webp);
    background-size: contain;
}

#petal{
    background: url(../images/song_bg/PetalDynamix.webp);
    background-size: contain;
}

#polaris_australis{
    background: url(../images/song_bg/PolarisAustralis.webp);
    background-size: contain;
}

#defended{
    background: url(../images/song_bg/Defended.webp);
    background-size: contain;
}

#flarebirds_of_scarlet_prism{
    background: url(../images/song_bg/FlarebirdsOfScarletPrism.webp);
    background-size: contain;
}

#ebit_goa4{
    background: url(../images/song_bg/8BitGoa4.webp);
    background-size: contain;
}

#hyper_nova{
    background: url(../images/song_bg/HYPER-NOVA.webp);
    background-size: contain;
}

#le_ciel_heureux{
    background: url(../images/song_bg/LeCeilHeureux.webp);
    background-size: contain;
}

#heart_eyes{
    background: url(../images/song_bg/HeartEyes.webp);
    background-size: contain;
}

#dead_master{
    background: url(../images/song_bg/DeadMaster.webp);
    background-size: contain;
}

#ragnarok{
    background: url(../images/song_bg/Ragnarok.webp);
    background-size: contain;
}

#freewheeling{
    background: url(../images/song_bg/Freewheeling.webp);
    background-size: contain;
}

#final_dash{
    background: url(../images/song_bg/FinalDash.webp);
    background-size: contain;
}

#hopeful_warrior{
    background: url(../images/song_bg/HopefulWarrior.webp);
    background-size: contain;
}

#sin_of_souls{
    background: url(../images/song_bg/SinOfSouls.webp);
    background-size: contain;
}

#grey_horse_underworld{
    background: url(../images/song_bg/GreyHorseUnderworld.webp);
    background-size: contain;
}

#ennor{
    background: url(../images/song_bg/Ennor.webp);
    background-size: contain;
}

#xetta{
    background: url(../images/song_bg/Xetta.webp);
    background-size: contain;
}

#grenade{
    background: url(../images/song_bg/Grenade.webp);
    background-size: contain;
}

#sandwich{
    background: url(../images/song_bg/Sandwich.webp);
    background-size: contain;
}

#crank_up{
    background: url(../images/song_bg/CrankUp.webp);
    background-size: contain;
}

#blueberry_cheesecake{
    background: url(../images/song_bg/Blueberrycheesecake.webp);
    background-size: contain;
}

#ashes{
    background: url(../images/song_bg/Ashes.webp);
    background-size: contain;
}

#cryonix{
    background: url(../images/song_bg/Cryonix.webp);
    background-size: contain;
}

#creigis{
    background: url(../images/song_bg/Creigis.webp);
    background-size: contain;
}

#sushi_tornado{
    background: url(../images/song_bg/SushiTornado.webp);
    background-size: contain;
}

#you_were_with_a_boy{
    background: url(../images/song_bg/YouWereWithABoy.webp);
    background-size: contain;
}

#mid_night_metropolitan_highway{
    background: url(../images/song_bg/MidNightMetropolitanHighway.webp);
    background-size: contain;
}

#totally_bounded{
    background: url(../images/song_bg/TotallyBounded.webp);
    background-size: contain;
}

#mitochondria{
    background: url(../images/song_bg/Mitochondria.webp);
    background-size: contain;
}

#decoherence{
    background: url(../images/song_bg/Decoherence.webp);
    background-size: contain;
}

#evoltex_poppi_n_mix{
    background: url(../images/song_bg/EvoltexPoppinMix.webp);
    background-size: contain;
}

#shinobi_original_short_mix{
    background: url(../images/song_bg/Shinobi.webp);
    background-size: contain;
}

#pixevlazz{
    background: url(../images/song_bg/PIXEVLAZZ.webp);
    background-size: contain;
}

#vengeance{
    background: url(../images/song_bg/Vengeance.webp);
    background-size: contain;
}

#sutta_monday{
    background: url(../images/song_bg/SUTTAMONDAY.webp);
    background-size: contain;
}

/*uncertain*/

.uncertain_song #black_horse_famine{
    background: url(../images/song_bg/BlackHorseFamine.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}

.uncertain_song #metheus{
    background: url(../images/song_bg/Metheus.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}

.uncertain_song #raving_in_halloween{
    background: url(../images/song_bg/RavinginHalloween.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}

.uncertain_song #soul_army{
    background: url(../images/song_bg/Soul_Army.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}

.uncertain_song #stardust{
    background: url(../images/song_bg/Stardust.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}

.uncertain_song #wonderful_days{
    background: url(../images/song_bg/Wonderfuldays.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}