/*14.0*/

#tenebris{
    background: url(../images/song_bg/Tenebris.png);
    background-size: contain;
}

#venusinvader{
    background: url(../images/song_bg/VenusInvader.png);
    background-size: contain;
}

#destroystress{
    background: url(../images/song_bg/DestroYStresS.png);
    background-size: contain;
}

#littleboy{
    background: url(../images/song_bg/LittleBoy.png);
    background-size: contain;
}

#variance{
    background: url(../images/song_bg/Variance.png);
    background-size: contain;
}

/*14.1*/

#innocension{
    background: url(../images/song_bg/INNOceNsION.png);
    background-size: contain;
}

#mind_blast_dynamix_edit{
    background: url(../images/song_bg/MindBlast.png);
    background-size: contain;
}

#physical_cosmology{
    background: url(../images/song_bg/PhysicalCosmology.png);
    background-size: contain;
}

#ice_chandelier{
    background: url(../images/song_bg/IceChandelier.png);
    background-size: contain;
}

#uchouten_highway{
    background: url(../images/song_bg/UCHOUTENHighway.png);
    background-size: contain;
}

#glacial_liquart_remix{
    background: url(../images/song_bg/Glacial.png);
    background-size: contain;
}

#re_correct{
    background: url(../images/song_bg/Recorrect.png);
    background-size: contain;
}

#spooky_macaron{
    background: url(../images/song_bg/SpookyMacaron.png);
    background-size: contain;
}

#whirlwind{
    background: url(../images/song_bg/WHIRLWIND.png);
    background-size: contain;
}

/*14.2*/

#arcana_idola{
    background: url(../images/song_bg/ArcanaIdola.png);
    background-size: contain;
}

#lodenifo{
    background: url(../images/song_bg/Lodeinfo.png);
    background-size: contain;
}

#waldjaegerin{
    background: url(../images/song_bg/Waldjaegerin.png);
    background-size: contain;
}

#danse_de_romani{
    background: url(../images/song_bg/DanseDeRomani.png);
    background-size: contain;
}

#sakura_fubuki{
    background: url(../images/song_bg/SakuraFubuki.png);
    background-size: contain;
}

#yinmeihua{
    background: url(../images/song_bg/yinmeihua.png);
    background-size: contain;
}

#chaka{
    background: url(../images/song_bg/CHAKA.png);
    background-size: contain;
}

#tianzhao{
    background: url(../images/song_bg/tianzhao.png);
    background-size: contain;
}

#acrise{
    background: url(../images/song_bg/Acrise.png);
    background-size: contain;
}

/*14.3*/

#helios{
    background: url(../images/song_bg/Helios.png);
    background-size: contain;
}

#decomposition{
    background: url(../images/song_bg/Decomposition.png);
    background-size: contain;
}

#tianzhao{
    background: url(../images/song_bg/tianzhao.png);
    background-size: contain;
}

#faithtival{
    background: url(../images/song_bg/Faithtival.png);
    background-size: contain;
}

#nehanwotomosuschadenfreude{
    background: url(../images/song_bg/Nehanwotomosuschadenfreude.png);
    background-size: contain;
}

#astraea{
    background: url(../images/song_bg/ASTRAEA.png);
    background-size: contain;
}

#riot_flavor{
    background: url(../images/song_bg/RiotFlavor.png);
    background-size: contain;
}

#the_mysterious_man{
    background: url(../images/song_bg/TheMysteriousMan.png);
    background-size: contain;
}

/*14.4*/

#alter_ago{
    background: url(../images/song_bg/AlterEgo.png);
    background-size: contain;
}

#lily{
    background: url(../images/song_bg/Lily.png);
    background-size: contain;
}

#reconstruction{
    background: url(../images/song_bg/REconstruction.png);
    background-size: contain;
}

#occhoco_rest_less{
    background: url(../images/song_bg/OCCHOCO-REST-LESS.png);
    background-size: contain;
}

#headroom_with_pleasant_rhythm{
    background: url(../images/song_bg/HeadroomWithPleasantRhythm.png);
    background-size: contain;
}

#galaxia{
    background: url(../images/song_bg/Galaxia.png);
    background-size: contain;
}

#crux{
    background: url(../images/song_bg/CruX.png);
    background-size: contain;
}

#joachim_d{
    background: url(../images/song_bg/JOACHIMD.png);
    background-size: contain;
}

#legacy{
    background: url(../images/song_bg/Legacy.png);
    background-size: contain;
}

#unsung_hero{
    background: url(../images/song_bg/UnsungHero.png);
    background-size: contain;
}

/*14.5*/

#oracle{
    background: url(../images/song_bg/Oracle.png);
    background-size: contain;
}

#life_flashes_before_weeb_eyes{
    background: url(../images/song_bg/LifeFlashesBeforeWeebEyes.png);
    background-size: contain;
}

#white_horse_disease{
    background: url(../images/song_bg/WhiteHorseDesease.png);
    background-size: contain;
}

#actinium{
    background: url(../images/song_bg/Actinium.png);
    background-size: contain;
}

#aki_zakura{
    background: url(../images/song_bg/Aki_zakura.png);
    background-size: contain;
}

#jack_out_killer{
    background: url(../images/song_bg/JackOutKIllER.png);
    background-size: contain;
}

#sky_adventure{
    background: url(../images/song_bg/SkyAdventure.png);
    background-size: contain;
}

#kyubi{
    background: url(../images/song_bg/Kyubi.png);
    background-size: contain;
}

#pollux{
    background: url(../images/song_bg/Pollux.png);
    background-size: contain;
}

#abyss{
    background: url(../images/song_bg/abyss.png);
    background-size: contain;
}

#lehigh{
    background: url(../images/song_bg/Lehigh.png);
    background-size: contain;
}

#mouse_runs_for_cheese_short_edit{
    background: url(../images/song_bg/MouseRunsForCheese.png);
    background-size: contain;
}

/*14.6*/

#eldredth{
    background: url(../images/song_bg/Eldredth.png);
    background-size: contain;
}

#super_macaron{
    background: url(../images/song_bg/SuperMacaron.png);
    background-size: contain;
}

#chrysoberyl{
    background: url(../images/song_bg/Chysoberyl.png);
    background-size: contain;
}

#nanohemu{
    background: url(../images/song_bg/Nanohemu.png);
    background-size: contain;
}

#fortalice{
    background: url(../images/song_bg/FORTALiCE.png);
    background-size: contain;
}

#Keigannozettaireido{
    background: url(../images/song_bg/Keigannozettaireido.png);
    background-size: contain;
}

#raseed{
    background: url(../images/song_bg/RASeed.png);
    background-size: contain;
}

#termiation{
    background: url(../images/song_bg/Termination.png);
    background-size: contain;
}

#hakushokunoyumede{
    background: url(../images/song_bg/HakushokuNoYumeDe.png);
    background-size: contain;
}

#aterlfus{
    background: url(../images/song_bg/aterlFus.png);
    background-size: contain;
}

/*14.7*/

#rain{
    background: url(../images/song_bg/Rain.png);
    background-size: contain;
}

#chunju{
    background: url(../images/song_bg/chunju.png);
    background-size: contain;
}

#a16383{
    background: url(../images/song_bg/16383.png);
    background-size: contain;
}

#give_it_to_me{
    background: url(../images/song_bg/GiveItToMe.png);
    background-size: contain;
}

#lava_control{
    background: url(../images/song_bg/LavaControl.png);
    background-size: contain;
}

#cross_soul{
    background: url(../images/song_bg/CrossSoul.png);
    background-size: contain;
}

#to_soar{
    background: url(../images/song_bg/ToSoar.png);
    background-size: contain;
}

/*14.8*/

#envy_luvs_melancholy{
    background: url(../images/song_bg/EnvyLuvsMelancholy.png);
    background-size: contain;
}

#distraction_point{
    background: url(../images/song_bg/DiSTractiOn_PoInT.png);
    background-size: contain;
}

#catastrophe{
    background: url(../images/song_bg/Catastrophe.png);
    background-size: contain;
}

#physical_cosmology{
    background: url(../images/song_bg/PhysicalCosmology.png);
    background-size: contain;
}

#kalis_mind{
    background: url(../images/song_bg/KalisMind.png);
    background-size: contain;
}

#luxvinore{
    background: url(../images/song_bg/Luxvinore.png);
    background-size: contain;
}

#pupa{
    background: url(../images/song_bg/Pupa.png);
    background-size: contain;
}

/*14.9*/

#war_in_the_mirrorworld{
    background: url(../images/song_bg/WarintheMirrorworld.png);
    background-size: contain;
}

#prime{
    background: url(../images/song_bg/WaveTest10.png);
    background-size: contain;
}

#kyubi{
    background: url(../images/song_bg/Kyubi.png);
    background-size: contain;
}

#polaris_australis{
    background: url(../images/song_bg/PolarisAustralis.png);
    background-size: contain;
}

#naiyazi{
    background: url(../images/song_bg/28L-28L2B5E29.png);
    background-size: contain;
}

/*14.9+*/

#hemisphere{
    background: url(../images/song_bg/Hemisphere.png);
    background-size: contain;
}

#emulisy{
    background: url(../images/song_bg/Emulisy.png);
    background-size: contain;
}

#defended{
    background: url(../images/song_bg/Defended.png);
    background-size: contain;
}

/*uncertain*/

#goemon{
    background: url(../images/song_bg/GOEMON.png);
    background-size: calc(100% + 10px);
    background-position: center;
}

#viatores{
    background: url(../images/song_bg/Viatores.png);
    background-size: calc(100% + 10px);
    background-position: center;
}

#reignite{
    background: url(../images/song_bg/ReIgnite.png);
    background-size: calc(100% + 10px);
    background-position: center;
}

#mechanismos{
    background: url(../images/song_bg/Mechanism.png);
    background-size: calc(100% + 10px);
    background-position: center;
}

#dement_after_legend{
    background: url(../images/song_bg/Dement.png);
    background-size: calc(100% + 10px);
    background-position: center;
}

#dead_soul{
    background: url(../images/song_bg/DeadSoul.png);
    background-size: calc(100% + 10px);
    background-position: center;
}