/*14.0*/

#tenebris{
    background: url(../images/song_bg/Tenebris.webp);
    background-size: contain;
}

#venusinvader{
    background: url(../images/song_bg/VenusInvader.webp);
    background-size: contain;
}

#destroystress{
    background: url(../images/song_bg/DestroYStresS.webp);
    background-size: contain;
}

#littleboy{
    background: url(../images/song_bg/LittleBoy.webp);
    background-size: contain;
}

#variance{
    background: url(../images/song_bg/Variance.webp);
    background-size: contain;
}

/*14.1*/

#innocension{
    background: url(../images/song_bg/INNOceNsION.webp);
    background-size: contain;
}

#mind_blast_dynamix_edit{
    background: url(../images/song_bg/MindBlast.webp);
    background-size: contain;
}

#physical_cosmology{
    background: url(../images/song_bg/PhysicalCosmology.webp);
    background-size: contain;
}

#ice_chandelier{
    background: url(../images/song_bg/IceChandelier.webp);
    background-size: contain;
}

#uchouten_highway{
    background: url(../images/song_bg/UCHOUTENHighway.webp);
    background-size: contain;
}

#glacial_liquart_remix{
    background: url(../images/song_bg/Glacial.webp);
    background-size: contain;
}

#re_correct{
    background: url(../images/song_bg/Recorrect.webp);
    background-size: contain;
}

#spooky_macaron{
    background: url(../images/song_bg/SpookyMacaron.webp);
    background-size: contain;
}

#whirlwind{
    background: url(../images/song_bg/WHIRLWIND.webp);
    background-size: contain;
}

/*14.2*/

#arcana_idola{
    background: url(../images/song_bg/ArcanaIdola.webp);
    background-size: contain;
}

#lodenifo{
    background: url(../images/song_bg/Lodeinfo.webp);
    background-size: contain;
}

#waldjaegerin{
    background: url(../images/song_bg/Waldjaegerin.webp);
    background-size: contain;
}

#danse_de_romani{
    background: url(../images/song_bg/DanseDeRomani.webp);
    background-size: contain;
}

#sakura_fubuki{
    background: url(../images/song_bg/SakuraFubuki.webp);
    background-size: contain;
}

#yinmeihua{
    background: url(../images/song_bg/yinmeihua.webp);
    background-size: contain;
}

#chaka{
    background: url(../images/song_bg/CHAKA.webp);
    background-size: contain;
}

#tianzhao{
    background: url(../images/song_bg/tianzhao.webp);
    background-size: contain;
}

#acrise{
    background: url(../images/song_bg/Acrise.webp);
    background-size: contain;
}

/*14.3*/

#helios{
    background: url(../images/song_bg/Helios.webp);
    background-size: contain;
}

#decomposition{
    background: url(../images/song_bg/Decomposition.webp);
    background-size: contain;
}

#tianzhao{
    background: url(../images/song_bg/tianzhao.webp);
    background-size: contain;
}

#faithtival{
    background: url(../images/song_bg/Faithtival.webp);
    background-size: contain;
}

#nehanwotomosuschadenfreude{
    background: url(../images/song_bg/Nehanwotomosuschadenfreude.webp);
    background-size: contain;
}

#astraea{
    background: url(../images/song_bg/ASTRAEA.webp);
    background-size: contain;
}

#riot_flavor{
    background: url(../images/song_bg/RiotFlavor.webp);
    background-size: contain;
}

#the_mysterious_man{
    background: url(../images/song_bg/TheMysteriousMan.webp);
    background-size: contain;
}

/*14.4*/

#alter_ago{
    background: url(../images/song_bg/AlterEgo.webp);
    background-size: contain;
}

#lily{
    background: url(../images/song_bg/Lily.webp);
    background-size: contain;
}

#reconstruction{
    background: url(../images/song_bg/REconstruction.webp);
    background-size: contain;
}

#occhoco_rest_less{
    background: url(../images/song_bg/OCCHOCO-REST-LESS.webp);
    background-size: contain;
}

#headroom_with_pleasant_rhythm{
    background: url(../images/song_bg/HeadroomWithPleasantRhythm.webp);
    background-size: contain;
}

#galaxia{
    background: url(../images/song_bg/Galaxia.webp);
    background-size: contain;
}

#crux{
    background: url(../images/song_bg/CruX.webp);
    background-size: contain;
}

#joachim_d{
    background: url(../images/song_bg/JOACHIMD.webp);
    background-size: contain;
}

#legacy{
    background: url(../images/song_bg/Legacy.webp);
    background-size: contain;
}

#unsung_hero{
    background: url(../images/song_bg/UnsungHero.webp);
    background-size: contain;
}

/*14.5*/

#oracle{
    background: url(../images/song_bg/Oracle.webp);
    background-size: contain;
}

#life_flashes_before_weeb_eyes{
    background: url(../images/song_bg/LifeFlashesBeforeWeebEyes.webp);
    background-size: contain;
}

#white_horse_disease{
    background: url(../images/song_bg/WhiteHorseDesease.webp);
    background-size: contain;
}

#actinium{
    background: url(../images/song_bg/Actinium.webp);
    background-size: contain;
}

#aki_zakura{
    background: url(../images/song_bg/Aki_zakura.webp);
    background-size: contain;
}

#jack_out_killer{
    background: url(../images/song_bg/JackOutKIllER.webp);
    background-size: contain;
}

#sky_adventure{
    background: url(../images/song_bg/SkyAdventure.webp);
    background-size: contain;
}

#kyubi{
    background: url(../images/song_bg/Kyubi.webp);
    background-size: contain;
}

#pollux{
    background: url(../images/song_bg/Pollux.webp);
    background-size: contain;
}

#abyss{
    background: url(../images/song_bg/abyss.webp);
    background-size: contain;
}

#lehigh{
    background: url(../images/song_bg/Lehigh.webp);
    background-size: contain;
}

#mouse_runs_for_cheese_short_edit{
    background: url(../images/song_bg/MouseRunsForCheese.webp);
    background-size: contain;
}

/*14.6*/

#eldredth{
    background: url(../images/song_bg/Eldredth.webp);
    background-size: contain;
}

#super_macaron{
    background: url(../images/song_bg/SuperMacaron.webp);
    background-size: contain;
}

#chrysoberyl{
    background: url(../images/song_bg/Chysoberyl.webp);
    background-size: contain;
}

#nanohemu{
    background: url(../images/song_bg/Nanohemu.webp);
    background-size: contain;
}

#fortalice{
    background: url(../images/song_bg/FORTALiCE.webp);
    background-size: contain;
}

#Keigannozettaireido{
    background: url(../images/song_bg/Keigannozettaireido.webp);
    background-size: contain;
}

#raseed{
    background: url(../images/song_bg/RASeed.webp);
    background-size: contain;
}

#termiation{
    background: url(../images/song_bg/Termination.webp);
    background-size: contain;
}

#hakushokunoyumede{
    background: url(../images/song_bg/HakushokuNoYumeDe.webp);
    background-size: contain;
}

#aterlfus{
    background: url(../images/song_bg/aterlFus.webp);
    background-size: contain;
}

/*14.7*/

#rain{
    background: url(../images/song_bg/Rain.webp);
    background-size: contain;
}

#chunju{
    background: url(../images/song_bg/chunju.webp);
    background-size: contain;
}

#a16383{
    background: url(../images/song_bg/16383.webp);
    background-size: contain;
}

#give_it_to_me{
    background: url(../images/song_bg/GiveItToMe.webp);
    background-size: contain;
}

#lava_control{
    background: url(../images/song_bg/LavaControl.webp);
    background-size: contain;
}

#cross_soul{
    background: url(../images/song_bg/CrossSoul.webp);
    background-size: contain;
}

#to_soar{
    background: url(../images/song_bg/ToSoar.webp);
    background-size: contain;
}

/*14.8*/

#envy_luvs_melancholy{
    background: url(../images/song_bg/EnvyLuvsMelancholy.webp);
    background-size: contain;
}

#distraction_point{
    background: url(../images/song_bg/DiSTractiOn_PoInT.webp);
    background-size: contain;
}

#catastrophe{
    background: url(../images/song_bg/Catastrophe.webp);
    background-size: contain;
}

#physical_cosmology{
    background: url(../images/song_bg/PhysicalCosmology.webp);
    background-size: contain;
}

#kalis_mind{
    background: url(../images/song_bg/KalisMind.webp);
    background-size: contain;
}

#luxvinore{
    background: url(../images/song_bg/Luxvinore.webp);
    background-size: contain;
}

#pupa{
    background: url(../images/song_bg/Pupa.webp);
    background-size: contain;
}

/*14.9*/

#war_in_the_mirrorworld{
    background: url(../images/song_bg/WarintheMirrorworld.webp);
    background-size: contain;
}

#prime{
    background: url(../images/song_bg/WaveTest10.webp);
    background-size: contain;
}

#kyubi{
    background: url(../images/song_bg/Kyubi.webp);
    background-size: contain;
}

#polaris_australis{
    background: url(../images/song_bg/PolarisAustralis.webp);
    background-size: contain;
}

#naiyazi{
    background: url(../images/song_bg/28L-28L2B5E29.webp);
    background-size: contain;
}

/*14.9+*/

#hemisphere{
    background: url(../images/song_bg/Hemisphere.webp);
    background-size: contain;
}

#emulisy{
    background: url(../images/song_bg/Emulisy.webp);
    background-size: contain;
}

#defended{
    background: url(../images/song_bg/Defended.webp);
    background-size: contain;
}

/*uncertain*/

.uncertain_song #goemon{
    background: url(../images/song_bg/GOEMON.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}

.uncertain_song #viatores{
    background: url(../images/song_bg/Viatores.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}

.uncertain_song #reignite{
    background: url(../images/song_bg/ReIgnite.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}

.uncertain_song #mechanismos{
    background: url(../images/song_bg/Mechanism.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}

.uncertain_song #dement_after_legend{
    background: url(../images/song_bg/Dement.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}

.uncertain_song #dead_soul{
    background: url(../images/song_bg/DeadSoul.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}