/*15.0*/

#the_last_arcady{
    background: url(../images/15/TheLastArcady.png);
    background-size: contain;
}

#fission{
    background: url(../images/15/Fission.png);
    background-size: contain;
}

#back_out{
    background: url(../images/15/BackOut.png);
    background-size: contain;
}

/*15.1*/

#pandemik{
    background: url(../images/15/Pandemik.png);
    background-size: contain;
}

#you_psy{
    background: url(../images/15/YouPsy.png);
    background-size: contain;
}

#metropolitan_chaser{
    background: url(../images/15/MetropolitanChaser.png);
    background-size: contain;
}

#ultimate_lachesism{
    background: url(../images/15/UltimateLachesism.png);
    background-size: contain;
}

#dahila{
    background: url(../images/15/Dahlia.png);
    background-size: contain;
}

#kokytos{
    background: url(../images/15/Kokytos.png);
    background-size: contain;
}

/*15.2*/

#war_in_the_mirrorworld{
    background: url(../images/15/WarintheMirrorworld.png);
    background-size: contain;
}

#infinite_enerzy_-overdoze-{
    background: url(../images/15/INFiNiTEENERZY.png);
    background-size: contain;
}

#rocket_lanterns{
    background: url(../images/15/RocketLantern.png);
    background-size: contain;
}

#crossing_delta{
    background: url(../images/15/CrossingDelta.png);
    background-size: contain;
}

#re_construct{
    background: url(../images/15/ReConstruct.png);
    background-size: contain;
}

#volcano{
    background: url(../images/15/Volcano.png);
    background-size: contain;
}

#rocky_buinne{
    background: url(../images/15/RockyBuinne.png);
    background-size: contain;
}

/*15.3*/

#the_endless_for_traveler{
    background: url(../images/15/TheEndlessforTraveller.png);
    background-size: contain;
}

#skrik_dnx_edit{
    background: url(../images/15/Skrik.png);
    background-size: contain;
}

#white_revolve{
    background: url(../images/15/WhiteRevolve.png);
    background-size: contain;
}

#elyxivn_elyxium{
    background: url(../images/15/ELYXiVNELYXiUM.png);
    background-size: contain;
}

#startail{
    background: url(../images/15/Startail.png);
    background-size: contain;
}

#Φ{
    background: url(../images/15/Φ.png);
    background-size: contain;
}

#chaka{
    background: url(../images/15/CHAKA.png);
    background-size: contain;
}

#bounce_the_tech{
    background: url(../images/15/BounceTheTech.png);
    background-size: contain;
}

/*15.4*/

#fl0at_on_air{
    background: url(../images/15/Fl0atOnAir.png);
    background-size: contain;
}

#re_correct{
    background: url(../images/15/Recorrect.png);
    background-size: contain;
}

#uchouten_highway{
    background: url(../images/15/UCHOUTENHighway.png);
    background-size: contain;
}

#black_magnam{
    background: url(../images/15/BlackMagnam.png);
    background-size: contain;
}

#cryonix{
    background: url(../images/15/Cryonix.png);
    background-size: contain;
}

#the_endless_for_traveler{
    background: url(../images/15/TheEndlessforTraveller.png);
    background-size: contain;
}

#virtual_nature{
    background: url(../images/15/VirtualNature.png);
    background-size: contain;
}

#headroom_with_pleasant_rhythm{
    background: url(../images/15/HeadroomWithPleasantRhythm.png);
    background-size: contain;
}