/*15.0*/

#the_last_arcady{
    background: url(../images/song_bg/TheLastArcady.webp);
    background-size: contain;
}

#fission{
    background: url(../images/song_bg/Fission.webp);
    background-size: contain;
}

#back_out{
    background: url(../images/song_bg/BackOut.webp);
    background-size: contain;
}

/*15.1*/

#pandemik{
    background: url(../images/song_bg/Pandemik.webp);
    background-size: contain;
}

#you_psy{
    background: url(../images/song_bg/YouPsy.webp);
    background-size: contain;
}

#metropolitan_chaser{
    background: url(../images/song_bg/MetropolitanChaser.webp);
    background-size: contain;
}

#ultimate_lachesism{
    background: url(../images/song_bg/UltimateLachesism.webp);
    background-size: contain;
}

#dahila{
    background: url(../images/song_bg/Dahlia.webp);
    background-size: contain;
}

#kokytos{
    background: url(../images/song_bg/Kokytos.webp);
    background-size: contain;
}

/*15.2*/

#war_in_the_mirrorworld{
    background: url(../images/song_bg/WarintheMirrorworld.webp);
    background-size: contain;
}

#infinite_enerzy_-overdoze-{
    background: url(../images/song_bg/INFiNiTEENERZY.webp);
    background-size: contain;
}

#rocket_lanterns{
    background: url(../images/song_bg/RocketLantern.webp);
    background-size: contain;
}

#crossing_delta{
    background: url(../images/song_bg/CrossingDelta.webp);
    background-size: contain;
}

#re_construct{
    background: url(../images/song_bg/ReConstruct.webp);
    background-size: contain;
}

#volcano{
    background: url(../images/song_bg/Volcano.webp);
    background-size: contain;
}

#rocky_buinne{
    background: url(../images/song_bg/RockyBuinne.webp);
    background-size: contain;
}

/*15.3*/

#the_endless_for_traveler{
    background: url(../images/song_bg/TheEndlessforTraveller.webp);
    background-size: contain;
}

#skrik_dnx_edit{
    background: url(../images/song_bg/Skrik.webp);
    background-size: contain;
}

#white_revolve{
    background: url(../images/song_bg/WhiteRevolve.webp);
    background-size: contain;
}

#elyxivn_elyxium{
    background: url(../images/song_bg/ELYXiVNELYXiUM.webp);
    background-size: contain;
}

#startail{
    background: url(../images/song_bg/Startail.webp);
    background-size: contain;
}

#Φ{
    background: url(../images/song_bg/Φ.webp);
    background-size: contain;
}

#chaka{
    background: url(../images/song_bg/CHAKA.webp);
    background-size: contain;
}

#bounce_the_tech{
    background: url(../images/song_bg/BounceTheTech.webp);
    background-size: contain;
}

/*15.4*/

#fl0at_on_air{
    background: url(../images/song_bg/Fl0atOnAir.webp);
    background-size: contain;
}

#re_correct{
    background: url(../images/song_bg/Recorrect.webp);
    background-size: contain;
}

#uchouten_highway{
    background: url(../images/song_bg/UCHOUTENHighway.webp);
    background-size: contain;
}

#black_magnam{
    background: url(../images/song_bg/BlackMagnam.webp);
    background-size: contain;
}

#cryonix{
    background: url(../images/song_bg/Cryonix.webp);
    background-size: contain;
}

#the_endless_for_traveler{
    background: url(../images/song_bg/TheEndlessforTraveller.webp);
    background-size: contain;
}

#virtual_nature{
    background: url(../images/song_bg/VirtualNature.webp);
    background-size: contain;
}

#headroom_with_pleasant_rhythm{
    background: url(../images/song_bg/HeadroomWithPleasantRhythm.webp);
    background-size: contain;
}

/*15.5*/

#spooky_macaron{
    background: url(../images/song_bg/SpookyMacaron.webp);
    background-size: contain;
}

#tsuinomaihime{
    background: url(../images/song_bg/TsuinoMaihime.webp);
    background-size: contain;
}

#ennor{
    background: url(../images/song_bg/Ennor.webp);
    background-size: contain;
}

#black_horse_famine{
    background: url(../images/song_bg/BlackHorseFamine.webp);
    background-size: contain;
}

#persephone{
    background: url(../images/song_bg/Persephone.webp);
    background-size: contain;
}

#perspicuus_aestus{
    background: url(../images/song_bg/Perspicuus_aestus.webp);
    background-size: contain;
}

#necroxus{
    background: url(../images/song_bg/Necroxus.webp);
    background-size: contain;
}

#link_to_dungeons{
    background: url(../images/song_bg/LinkToDungeons.webp);
    background-size: contain;
}

/*15.6*/

#xetta{
    background: url(../images/song_bg/Xetta.webp);
    background-size: contain;
}

#once_again_dnx_edit{
    background: url(../images/song_bg/OnceAgain.webp);
    background-size: contain;
}

#destruction{
    background: url(../images/song_bg/Destruction.webp);
    background-size: contain;
}

#worldwide_rave_attack{
    background: url(../images/song_bg/WaveTest11.webp);
    background-size: contain;
}

#innocension{
    background: url(../images/song_bg/INNOceNsION.webp);
    background-size: contain;
}

#guilty_hostage{
    background: url(../images/song_bg/GuiltyHostage.webp);
    background-size: contain;
}

/*15.7*/

#tech-nique{
    background: url(../images/song_bg/TechNique.webp);
    background-size: contain;
}

#angstlicher_vermeidender{
    background: url(../images/song_bg/AngstlicherVermeidender.webp);
    background-size: contain;
}

#dusky_disslove{
    background: url(../images/song_bg/DuskyDisslove.webp);
    background-size: contain;
}

#sakura_fubuki{
    background: url(../images/song_bg/SakuraFubuki.webp);
    background-size: contain;
}

#cross_soul{
    background: url(../images/song_bg/CrossSoul.webp);
    background-size: contain;
}

/*15.8*/

#hong{
    background: url(../images/song_bg/hong.webp);
    background-size: contain;
}

#oracle{
    background: url(../images/song_bg/Oracle.webp);
    background-size: contain;
}

#creigis{
    background: url(../images/song_bg/Creigis.webp);
    background-size: contain;
}

#last_farewell{
    background: url(../images/song_bg/LastFarewell.webp);
    background-size: contain;
}

#pupa{
    background: url(../images/song_bg/Pupa.webp);
    background-size: contain;
}

/*15.9*/

#antithesis{
    background: url(../images/song_bg/Antithesis.webp);
    background-size: contain;
}

#grey_horse_underworld{
    background: url(../images/song_bg/GreyHorseUnderworld.webp);
    background-size: contain;
}

#relyna{
    background: url(../images/song_bg/ReLyna.webp);
    background-size: contain;
}

#the_path{
    background: url(../images/song_bg/ThePath.webp);
    background-size: contain;
}

#massacre{
    background: url(../images/song_bg/MassacrE3rc4224M.webp);
    background-size: contain;
}

/*16.0*/

#massacre{
    background: url(../images/song_bg/MassacrE3rc4224M.webp);
    background-size: contain;
}

#between_boundaries{
    background: url(../images/song_bg/BetweenBoundaries.webp);
    background-size: contain;
}

#jack_out_killer{
    background: url(../images/song_bg/JackOutKIllER.webp);
    background-size: contain;
}

#volt{
    background: url(../images/song_bg/2000VOLT.webp);
    background-size: contain;
}

#helios{
    background: url(../images/song_bg/Helios.webp);
    background-size: contain;
}

#tsuinomaihime{
    background: url(../images/song_bg/TsuinoMaihime.webp);
    background-size: contain;
}

#naiyazi{
    background: url(../images/song_bg/28L-28L2B5E29.webp);
    background-size: contain;
}

/*uncertain*/

.uncertain_song #aliceshige{
    background: url(../images/song_bg/Aliceshige.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}

.uncertain_song #beforesunrise{
    background: url(../images/song_bg/BeforeSunrise.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}

.uncertain_song #evoltex_poppin_mix{
    background: url(../images/song_bg/EvoltexPoppinMix.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}

.uncertain_song #redhorsemassacre{
    background: url(../images/song_bg/Redhorsemassacre.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}

.uncertain_song #euouae{
    background: url(../images/song_bg/Euouae.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}

.uncertain_song #mega_pop{
    background: url(../images/song_bg/megapop.webp);
    background-size: calc(100% + 10px);
    background-position: center;
}