/*15.0*/

#the_last_arcady{
    background: url(../images/song_bg/TheLastArcady.png);
    background-size: contain;
}

#fission{
    background: url(../images/song_bg/Fission.png);
    background-size: contain;
}

#back_out{
    background: url(../images/song_bg/BackOut.png);
    background-size: contain;
}

/*15.1*/

#pandemik{
    background: url(../images/song_bg/Pandemik.png);
    background-size: contain;
}

#you_psy{
    background: url(../images/song_bg/YouPsy.png);
    background-size: contain;
}

#metropolitan_chaser{
    background: url(../images/song_bg/MetropolitanChaser.png);
    background-size: contain;
}

#ultimate_lachesism{
    background: url(../images/song_bg/UltimateLachesism.png);
    background-size: contain;
}

#dahila{
    background: url(../images/song_bg/Dahlia.png);
    background-size: contain;
}

#kokytos{
    background: url(../images/song_bg/Kokytos.png);
    background-size: contain;
}

/*15.2*/

#war_in_the_mirrorworld{
    background: url(../images/song_bg/WarintheMirrorworld.png);
    background-size: contain;
}

#infinite_enerzy_-overdoze-{
    background: url(../images/song_bg/INFiNiTEENERZY.png);
    background-size: contain;
}

#rocket_lanterns{
    background: url(../images/song_bg/RocketLantern.png);
    background-size: contain;
}

#crossing_delta{
    background: url(../images/song_bg/CrossingDelta.png);
    background-size: contain;
}

#re_construct{
    background: url(../images/song_bg/ReConstruct.png);
    background-size: contain;
}

#volcano{
    background: url(../images/song_bg/Volcano.png);
    background-size: contain;
}

#rocky_buinne{
    background: url(../images/song_bg/RockyBuinne.png);
    background-size: contain;
}

/*15.3*/

#the_endless_for_traveler{
    background: url(../images/song_bg/TheEndlessforTraveller.png);
    background-size: contain;
}

#skrik_dnx_edit{
    background: url(../images/song_bg/Skrik.png);
    background-size: contain;
}

#white_revolve{
    background: url(../images/song_bg/WhiteRevolve.png);
    background-size: contain;
}

#elyxivn_elyxium{
    background: url(../images/song_bg/ELYXiVNELYXiUM.png);
    background-size: contain;
}

#startail{
    background: url(../images/song_bg/Startail.png);
    background-size: contain;
}

#Φ{
    background: url(../images/song_bg/Φ.png);
    background-size: contain;
}

#chaka{
    background: url(../images/song_bg/CHAKA.png);
    background-size: contain;
}

#bounce_the_tech{
    background: url(../images/song_bg/BounceTheTech.png);
    background-size: contain;
}

/*15.4*/

#fl0at_on_air{
    background: url(../images/song_bg/Fl0atOnAir.png);
    background-size: contain;
}

#re_correct{
    background: url(../images/song_bg/Recorrect.png);
    background-size: contain;
}

#uchouten_highway{
    background: url(../images/song_bg/UCHOUTENHighway.png);
    background-size: contain;
}

#black_magnam{
    background: url(../images/song_bg/BlackMagnam.png);
    background-size: contain;
}

#cryonix{
    background: url(../images/song_bg/Cryonix.png);
    background-size: contain;
}

#the_endless_for_traveler{
    background: url(../images/song_bg/TheEndlessforTraveller.png);
    background-size: contain;
}

#virtual_nature{
    background: url(../images/song_bg/VirtualNature.png);
    background-size: contain;
}

#headroom_with_pleasant_rhythm{
    background: url(../images/song_bg/HeadroomWithPleasantRhythm.png);
    background-size: contain;
}

/*15.5*/

#spooky_macaron{
    background: url(../images/song_bg/SpookyMacaron.png);
    background-size: contain;
}

#tsuinomaihime{
    background: url(../images/song_bg/TsuinoMaihime.png);
    background-size: contain;
}

#ennor{
    background: url(../images/song_bg/Ennor.png);
    background-size: contain;
}

#black_horse_famine{
    background: url(../images/song_bg/BlackHorseFamine.png);
    background-size: contain;
}

#persephone{
    background: url(../images/song_bg/Persephone.png);
    background-size: contain;
}

#perspicuus_aestus{
    background: url(../images/song_bg/Perspicuus_aestus.png);
    background-size: contain;
}

#necroxus{
    background: url(../images/song_bg/Necroxus.png);
    background-size: contain;
}

#link_to_dungeons{
    background: url(../images/song_bg/LinkToDungeons.png);
    background-size: contain;
}
