.no_select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes fade_in_rank{
    from{
        opacity: 0; color: rgba(255, 255, 255, 0); padding-top: 90px;
    }
    to{
        opacity: 1; color: rgba(255, 255, 255, 1); padding-top: 60px;
    }
}

@-webkit-keyframes fade_in_rank{
    from{
        opacity: 0; color: rgba(255, 255, 255, 0); padding-top: 90px;
    }
    to{
        opacity: 1; color: rgba(255, 255, 255, 1); padding-top: 60px;
    }
}


body,html{
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
}

#rank{
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    animation: fade_in_rank 1s forwards;
    display: block;
}

.rank_number{
    width: 125px;
    padding-top: 79px;
    font-size: 28px;
    font-family: dynamix;
    float: left;
    color: white;
    text-shadow: 0 0 10px rgba(0, 251, 255, 0.7);
}

.song_bg::after{
    content: '';
    position: relative;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: 40px;
    width: calc(100vw - 290px);
    height: 2px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 251, 255, 1);
    text-align: right;
}

.song_bg{
    display: flex;
    flex-wrap: wrap;
}

.song_bg_name div{
    padding: 7px;
}

a{
    text-decoration: none;
    outline: none;
    color: rgba(0, 0, 0, 0);
}

.song_bg_g a div{
    width: 160px;
    height: 160px;
    color: rgba(255, 255, 255, 0);
    font-family: orbitron;
    font-size: 19px;
    border-color: gray;
    border-width: 5px;
    border-style: solid;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    transition: all .1s ease-out;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
}

.song_bg_g a div:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 17px rgba(234, 234, 234, 0.5);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.song_bg_m a div{
    width: 160px;
    height: 160px;
    color: rgba(255, 255, 255, 0);
    font-family: orbitron;
    font-size: 19px;
    border-color: rgb(172, 1, 172);
    border-width: 5px;
    border-style: solid;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    transition: all .1s ease-out;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
}

.song_bg_m a div:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 17px rgba(255, 138, 255, 0.5);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.song_bg_h a div{
    width: 160px;
    height: 160px;
    color: rgba(255, 255, 255, 0);
    font-family: orbitron;
    font-size: 19px;
    border-color: rgb(186, 0, 0);
    border-width: 5px;
    border-style: solid;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    transition: all .1s ease-out;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
}

.song_bg_h a div:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 17px rgba(255, 13, 13, 0.75);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

table{
    border-collapse: collapse;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
}

.uncertain_rank_container{
    padding: 60px 0;
}

.uncertain_number{
    height: 50px;
    font-size: 30px;
    font-family: dynamix;
    color: white;
    text-shadow: 0 0 10px rgba(0, 251, 255, 0.7);
}

th{
    border-spacing: 0px;
    display: table-cell;
    width: calc(100vw / 11);
    text-align: -internal-center;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    word-break: break-word;
}

.uncertain_song{
    position: relative;
}

.uncertain_song::before{
    content: '';
    display: flex;
    width: calc(100% - 2px);
    position: absolute;
    bottom: 0;
    height: 2px;
    text-align: left;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 251, 255, 1);
}

.true{
    background-color: rgba(0, 251, 255, 0.3);
}

.uncertain_song th div{
    width: calc((100vw - 100px) / 11 - 4px);
    height: calc((100vw - 100px) / 11 - 4px);
    display: table-cell;
    vertical-align: middle;
    font-family: orbitron_light;
    font-size: 19px;
    color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
}

.giga{
    border-color: gray;
    border-width: 4px;
    border-style: solid;
    transition: all .1s ease-out;
}

.giga:hover{
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.top button{
    color: rgba(255, 255, 255, 0.6);
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 70px;
    height: 70px;
    border-radius: 200px;
    background-color: rgba(69, 85, 227, 0.1);
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.06);
    transition: all .1s ease-in;
    font-size: 38px;
}

.top button:hover{
    background-color: rgba(69, 85, 227, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.95);
}

.title{
    padding-bottom: 55px;
}

.title h1 span img{
    position: relative;
    top: 35px;
    scale: 0.8;
}

.title h1{
    padding: 20px 0;
    text-align: center;
    font-size: 4vw;
    font-family: orbitron;
    text-shadow: 0 0 10px rgba(0, 251, 255, 0.7);
}

.title p{
    padding: 20px 40px;
    margin: 15px auto;
    width: calc(100% - 40vw);
    text-align: center;
    font-size: 22px;
    font-family: caecilia;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.08);
    border: rgba(0, 251, 255, 0.6) solid 1px;
    border-radius: 100px;
}

.object{
    display: inline-block;
    position: relative;
    left: 0;
    width: 100%;
    background-color: rgb(12, 10, 22);
    border-top: rgb(255, 0, 98) solid 10px;
}

.object_border{
    position: absolute;
    left: 0;
    width: 100%;
    outline: 1px solid rgb(246, 255, 0);
}

.object_title{
    position: absolute;
    left: 120px;
    background-color: rgb(255, 0, 98);
    font-size: 28px;
    font-family: dynamix;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    padding: 7px 20px;
    border-radius: 0 0 20px 20px;
    margin-top: -8px;
}

.news ul{
    padding-top: 40px;
    padding-left: 120px;
    padding-right: 120px;
}

.news ul li{
    padding: 20px 0;
}

.news .img{
    float: left;
    display: flex;
    overflow: hidden;
    width: 40vw;
    height: 20.9vw;
    border-radius: 20px;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    margin-bottom: 25px;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.news .img img{
    transition: all 0.3s ease-in-out;
}

.news .img img:hover{
    scale: 1.03;
}

.news ul li::after{
    content: '';
    position: relative;
    display: inline-block;
    width: calc(100vw - 240px);
    height: 2px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 251, 255, 1);
    text-align: right;
}

.news_text{
    display: inline-block;
    padding-left: 40px;
    width: calc(100% - 40vw - 44px);
}

.news_text h2{
    font-size: 42px;
    font-family: caecilia;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: rgb(255, 0, 98) 2px 0 0, rgb(255, 0, 98) 0 2px 0, rgb(255, 0, 98) -2px 0 0, rgb(255, 0, 98) 0 -2px 0;
}

.news_text h2:hover{
    text-decoration: underline;
}

.news_text .news_contents{
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    flex-wrap: wrap;
    border-left: white solid 8px;
    padding-left: 20px;
    border-radius: 8px;
}

.news_text .news_contents p{
    padding: 5px 0;
}

.footer{
    position: relative;
    bottom: 0;
}

.date{
    color: rgb(207, 207, 207);
    font-family: caecilia;
    font-size: 20px;
    font-weight: bold;
}

.link{
    margin: 20px 0;
}

#twitter{
    border-radius: 100px;
    width: 42px;
    height: 42px;
    background-color: rgb(0, 174, 255);
    cursor: pointer;
    border: none;
    padding-top: 5px;
    margin-right: 5px;
    font-size:32px;
    color: white;
    text-align: center;
    transition: all 0.2s ease-out;
}

#twitter:hover{
    background-color: rgb(146, 221, 255);
}

#facebook{
    border-radius: 100px;
    width: 42px;
    height: 42px;
    background-color: rgb(0, 68, 255);
    cursor: pointer;
    border: none;
    padding-top: 5px;
    margin-right: 5px;
    font-size:32px;
    color: white;
    text-align: center;
    transition: all 0.2s ease-out;
}

#facebook:hover{
    background-color: rgb(73, 122, 255);
}

.learn_more{
    width: 280px;
    height: 60px;
    font-size: 28px;
    font-family: dynamix;
    border-radius: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.6);
    background-color: #144a818b;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 6px rgba(0, 251, 255, 0.4);
    margin-left: calc(50% - 140px);
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
}

.learn_more:hover{
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 6px rgba(0, 251, 255, 0.8);
    background-color: #144b81;
    box-shadow: 0 0 15px rgba(0, 251, 255, 0.8);
    cursor: pointer;
}

@media screen and (max-width: 1154px){
    .news .img{
        width: calc(100vw - 240px);
        height: calc(52.25vw - 123.6px);
    }

    .news_text{
        display: inline-block;
        padding-left: 0;
        width: calc(100vw - 240px);
    }
}

.links ul{
    margin-top: 60px;
    margin-left: 120px;
}

@media screen and (min-width: 1435px){
    .links_pc{
        display: block;
    }

    .links_mb{
        display: none;
    }

    .links li{
        float: left;
        margin-right: calc((20vw - 290px) / 4);
        margin-bottom: 20px;
    }

    .links .border .img{
        display: flex;
        overflow: hidden;
        width: 14.5vw;
        height: 10.875vw;
        border-radius: 10px;
        border-color: rgba(255, 255, 255, 0.2);
        border-style: solid;
        border-width: 1px;
        margin-bottom: 20px;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    
    .links .border .img img{
        transition: all 0.3s ease-in-out;
    }
    
    .links .border .img img:hover{
        scale: 1.05;
    }
    
    .links .border .links_title{
        color: white;
        font-size: 19px;
        font-family: caecilia;
        font-weight: bold;
        width: 15vw;
        margin-bottom: 6px;
    }
    
    .links .border .links_title span{
        text-align: center;
        background-color: rgb(255, 0, 98);
        color: rgb(255, 255, 255);
        font-size: 14px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 7px;
        padding-right: 4px;
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 5px;
        border-radius: 10px;
        font-weight: bold;
    }
    
    .links .border .links_contents{
        color: rgba(255, 255, 255, 0.7);
        font-size: 17px;
        width: 15vw;
    }

    .links .center .img{
        position: relative;
        display: flex;
        overflow: hidden;
        width: 22vw;
        height: 16.5vw;
        border-radius: 10px;
        border-color: rgba(255, 255, 255, 0.2);
        border-style: solid;
        border-width: 1px;
        margin-bottom: 20px;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    
    .links .center .img img{
        transition: all 0.3s ease-in-out;
    }
    
    .links .center:hover .img img{
        scale: 1.04;
    }
    
    .links .center .center_contents{
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 22vw;
        height: 10vw;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
        vertical-align: bottom;
    }
    
    .center_contents_c{
        position: absolute;
        bottom: 0;
        padding: 15px 20px;
    }
    
    .links .center .links_title span{
        text-align: center;
        background-color: rgb(255, 0, 98);
        color: rgb(255, 255, 255);
        font-size: 14px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 8px;
        padding-right: 5px;
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 6px;
        border-radius: 10px;
        font-weight: bold;
    }
    
    .links .center .links_contents{
        color: rgba(255, 255, 255, 0.7);
        font-size: 17px;
        width: auto;
    }
    
    .links .center .links_title{
        color: white;
        font-size: 19px;
        font-family: caecilia;
        font-weight: bold;
        width: auto;
        margin-bottom: 6px;
    }
}

@media screen and (max-width: 1435px){
    .links_pc{
        display: none;
    }

    .links_mb{
        display: block;
    }

    .links .center{
        float: left;
        margin-right: 24px;
    }

    .links .center .img{
        position: relative;
        display: flex;
        overflow: hidden;
        width: 40vw;
        height: 30vw;
        border-radius: 10px;
        border-color: rgba(255, 255, 255, 0.2);
        border-style: solid;
        border-width: 1px;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    
    .links .center .img img{
        transition: all 0.3s ease-in-out;
    }
    
    .links .center:hover .img img{
        scale: 1.04;
    }
    
    .links .center .center_contents{
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 40vw;
        height: 26vw;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
        vertical-align: bottom;
    }
    
    .center_contents_c {
        position: absolute;
        bottom: 0;
        padding: 15px 20px;
    }
    
    .links .center .links_title span{
        text-align: center;
        background-color: rgb(255, 0, 98);
        color: rgb(255, 255, 255);
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 14px;
        padding-right: 8px;
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 6px;
        border-radius: 20px;
        font-weight: bold;
    }
    
    .links .center .links_contents{
        color: rgba(255, 255, 255, 0.7);
        font-size: 17px;
        width: auto;
    }
    
    .links .center .links_title{
        color: white;
        font-size: 26px;
        font-family: caecilia;
        font-weight: bold;
        width: auto;
    }

    .links .above{
        display: inline-block;
    }

    .links .above .img{
        position: relative;
        display: flex;
        overflow: hidden;
        width: 18.67vw;
        height: 14vw;
        border-radius: 10px;
        border-color: rgba(255, 255, 255, 0.2);
        border-style: solid;
        border-width: 1px;
        margin-bottom: calc(2vw - 2px);
        float: left;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    
    .links .above .img img{
        transition: all 0.3s ease-in-out;
    }
    
    .links .img img:hover{
        scale: 1.04;
    }

    .links .above .links_title{
        display: inline-block;
        margin-left: 6px;
        width: calc(100vw - 18.67vw - 40vw - 240px - 30px);
    }

    .links .above .title_text{
        color: white;
        font-size: 22px;
        font-family: caecilia;
        font-weight: bold;
        width: auto;
        margin-bottom: 0;
    }
    
    .links .above .official{
        text-align: center;
        background-color: rgb(255, 0, 98);
        color: rgb(255, 255, 255);
        font-size: 16px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 16px;
        border-radius: 20px;
        font-weight: bold;
        width: 80px;
    }
    
    .links .above .links_contents{
        color: rgba(255, 255, 255, 0.7);
        font-size: 17px;
        width: calc(100vw - 18.67vw - 40vw - 240px - 41px);
    }

    .empty{
        margin: 10px 0;
    }

    .links .bottom{
        float: left;
        margin-right: 20px;
        margin-bottom: 40px;
    }

    .links .bottom .img{
        display: flex;
        overflow: hidden;
        width: calc((100vw - 240px - 60px) / 2);
        height: calc((75vw - 180px - 15px) / 2);
        border-radius: 10px;
        border-color: rgba(255, 255, 255, 0.2);
        border-style: solid;
        border-width: 1px;
        margin-bottom: 20px;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    
    .links .bottom .img img{
        transition: all 0.3s ease-in-out;
    }
    
    .links .bottom .img img:hover{
        scale: 1.05;
    }
    
    .links .bottom .links_title{
        color: white;
        font-size: 22px;
        font-family: caecilia;
        font-weight: bold;
        width: calc((100vw - 240px - 20px) / 2);
        margin-bottom: 6px;
    }
    
    .links .bottom .links_title span{
        text-align: center;
        background-color: rgb(255, 0, 98);
        color: rgb(255, 255, 255);
        font-size: 16px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 7px;
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 5px;
        border-radius: 20px;
        font-weight: bold;
    }
    
    .links .bottom .links_contents{
        color: rgba(255, 255, 255, 0.7);
        font-size: 17px;
        width: calc((100vw - 240px - 20px) / 2);
    }
}

.object_footer{
    border-top: rgb(255, 0, 98) solid 10px;
    padding: 20px 0;
    text-align: center;
    font-family: orbitron;
    font-size: 32px;
    text-shadow: 0 0 6px rgba(0, 251, 255, 0.8);
}

.object_footer div{
    border-top: rgb(246, 255, 0) solid 2px;
    margin-bottom: 20px;
}

.object_news{
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    background-color: rgb(12, 10, 22);
}

.object_outline_news{
    border-bottom: rgb(255, 0, 98) solid 10px;
}

.object_border_news{
    position: absolute;
    left: 0;
    width: 100%;
    outline: 1px solid rgb(246, 255, 0);
}

.object_title_news{
    position: absolute;
    left: 120px;
    background-color: rgb(255, 0, 98);
    font-size: 28px;
    font-family: dynamix;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    padding: 7px 20px;
    border-radius: 0 0 20px 20px;
    margin-top: -8px;
}

.fixed{
    position: fixed;
    width: 100%;
    top: 48px;
    left: 0;
    z-index: 999999;
}

.new{
    display: flex;
    background: linear-gradient(to left, rgba(255, 191, 0, 0), rgba(255, 0, 81, 0.6));
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 20px;
    font-family: dynamix;
    border-left: rgba(0, 251, 255, 1) 8px solid;
    margin-bottom: 8px;
}