.no_select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes background{
    from{
        background-color: #000000;
        background-image: 
        linear-gradient(-173deg, rgb(0, 0, 0) 0%, #000000 100%),
        linear-gradient(72deg, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 100%),
        radial-gradient(47% 102%, rgb(0, 0, 0) rgb(0, 0, 0) 120%);
    }
    to{
        background-color: #2241a5;
        background-image: 
        linear-gradient(-173deg, rgba(255,255,255,0.20) 0%, #000000 100%),
        linear-gradient(72deg, rgba(255,255,255,0.25) 25%, rgba(0,0,0,0.25) 100%),
        radial-gradient(47% 102%, rgba(255,255,255,0.50) 0%, rgba(21,24,32,0.60) 120%);
    }
}

@-webkit-keyframes background{
    from{
        background-color: #000000;
        background-image: 
        linear-gradient(-173deg, rgb(0, 0, 0) 0%, #000000 100%),
        linear-gradient(72deg, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 100%),
        radial-gradient(47% 102%, rgb(0, 0, 0) rgb(0, 0, 0) 120%);
    }
    to{
        background-color: #2241a5;
        background-image: 
        linear-gradient(-173deg, rgba(255,255,255,0.20) 0%, #000000 100%),
        linear-gradient(72deg, rgba(255,255,255,0.25) 25%, rgba(0,0,0,0.25) 100%),
        radial-gradient(47% 102%, rgba(255,255,255,0.50) 0%, rgba(21,24,32,0.60) 120%);
    }
}

@keyframes fade_in_rank{
    from{
        opacity: 0; color: rgba(255, 255, 255, 0); padding-top: 90px;
    }
    to{
        opacity: 1; color: rgba(255, 255, 255, 1); padding-top: 60px;
    }
}

@-webkit-keyframes fade_in_rank{
    from{
        opacity: 0; color: rgba(255, 255, 255, 0); padding-top: 90px;
    }
    to{
        opacity: 1; color: rgba(255, 255, 255, 1); padding-top: 60px;
    }
}


body,html{
    scroll-behavior: smooth;
}

body{
    background-color: #2241a5;
    background-image: 
    linear-gradient(-173deg, rgba(255,255,255,0.20) 0%, #000000 100%),
    linear-gradient(72deg, rgba(255,255,255,0.25) 25%, rgba(0,0,0,0.25) 100%),
    radial-gradient(47% 102%, rgba(255,255,255,0.50) 0%, rgba(21,24,32,0.60) 120%);
    background-blend-mode: multiply;
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: background 10s 0.5s forwards alternate infinite;
    -webkit-animation: background 10s 0.5s forwards alternate infinite;
}

#rank{
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    animation: fade_in_rank 1s forwards;
    display: block;
}

.rank_number{
    width: 125px;
    padding-top: 79px;
    font-size: 28px;
    font-family: dynamix;
    float: left;
    color: white;
    text-shadow: 0 0 10px rgba(0, 251, 255, 0.7);
}

.song_bg::after{
    content: '';
    position: relative;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: 40px;
    width: calc(100vw - 290px);
    height: 2px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 251, 255, 1);
    text-align: right;
}

.song_bg{
    display: flex;
    flex-wrap: wrap;
}

.song_bg_name div{
    padding: 7px;
}

a{
    text-decoration: none;
    outline: none;
    color: rgba(0, 0, 0, 0);
}

.song_bg_g a div{
    width: 160px;
    height: 160px;
    color: rgba(255, 255, 255, 0);
    font-family: orbitron;
    font-size: 19px;
    border-color: gray;
    border-width: 5px;
    border-style: solid;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    transition: all .1s ease-out;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
}

.song_bg_g a div:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 17px rgba(234, 234, 234, 0.5);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.song_bg_m a div{
    width: 160px;
    height: 160px;
    color: rgba(255, 255, 255, 0);
    font-family: orbitron;
    font-size: 19px;
    border-color: rgb(172, 1, 172);
    border-width: 5px;
    border-style: solid;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    transition: all .1s ease-out;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
}

.song_bg_m a div:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 17px rgba(255, 138, 255, 0.5);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.song_bg_h a div{
    width: 160px;
    height: 160px;
    color: rgba(255, 255, 255, 0);
    font-family: orbitron;
    font-size: 19px;
    border-color: rgb(186, 0, 0);
    border-width: 5px;
    border-style: solid;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    transition: all .1s ease-out;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
}

.song_bg_h a div:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 17px rgba(255, 13, 13, 0.75);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

table{
    border-collapse: collapse;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
}

.uncertain_rank_container{
    padding: 60px 0;
}

.uncertain_number{
    height: 50px;
    font-size: 30px;
    font-family: dynamix;
    color: white;
    text-shadow: 0 0 10px rgba(0, 251, 255, 0.7);
}

th{
    border-spacing: 0px;
    display: table-cell;
    width: calc(100vw / 11);
    text-align: -internal-center;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    word-break: break-word;
}

.uncertain_song{
    position: relative;
}

.uncertain_song::after{
    content: '';
    display: block;
    width: calc(100% - 2px);
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    height: 2px;
    text-align: left;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 251, 255, 1);
}

.true{
    background-color: rgba(0, 251, 255, 0.3);
}

.uncertain_song th div{
    width: calc((100vw - 100px) / 11 - 4px);
    height: calc((100vw - 100px) / 11 - 4px);
    display: table-cell;
    vertical-align: middle;
    font-family: orbitron_light;
    font-size: 19px;
    color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
}

.giga{
    border-color: gray;
    border-width: 4px;
    border-style: solid;
    transition: all .1s ease-out;
}

.giga:hover{
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.top button{
    color: rgba(255, 255, 255, 0.6);
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 70px;
    height: 70px;
    border-radius: 200px;
    background-color: rgba(69, 85, 227, 0.1);
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.3);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.06);
    transition: all .1s ease-in;
    font-size: 38px;
}

.top button:hover{
    background-color: rgba(69, 85, 227, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.95);
}

.title{
    padding-bottom: 55px;
}

.title h1 span img{
    position: relative;
    top: 35px;
    scale: 0.8;
}

.title h1{
    padding: 20px 0;
    text-align: center;
    font-size: 80px;
    font-family: orbitron;
    text-shadow: 0 0 10px rgba(0, 251, 255, 0.3);
}

.title p{
    padding: 20px;
    margin: 15px auto;
    width: 1000px;
    text-align: center;
    font-size: 22px;
    font-family: caecilia;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.08);
    border: rgba(255, 255, 255, 0.1) solid 2px;
    border-radius: 100px;
}

.object{
    position: absolute;
    left: 0;
    width: 100%;
    background-color: rgba(12, 10, 22, 0.9);
    border-top: rgb(255, 0, 98) solid 10px;
}

.object_border{
    position: absolute;
    left: 0;
    width: 100%;
    outline: 1px solid rgb(246, 255, 0);
}

.object_title{
    position: absolute;
    left: 120px;
    background-color: rgb(255, 0, 98);
    font-size: 28px;
    font-family: dynamix;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    padding: 7px 20px;
    border-radius: 0 0 20px 20px;
    margin-top: -8px;
}

.news ul{
    padding-top: 40px;
    padding-left: 120px;
    padding-right: 120px;
}

.news ul li{
    padding: 20px 0;
}

.img{
    float: left;
    display: flex;
    overflow: hidden;
    width: 40vw;
    height: 20.9vw;
    border-radius: 20px;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    margin-bottom: 25px;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.img img{
    transition: all 0.3s ease-in-out;
}

.img img:hover{
    scale: 1.03;
}

.news ul li::after{
    content: '';
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 251, 255, 1);
    text-align: right;
}

.news_text{
    display: inline-block;
    padding-left: 40px;
    width: 38vw;
    height: 20.9vw;
}

.news_text h2{
    font-size: 42px;
    font-family: caecilia;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: rgb(255, 0, 98) 2px 0 0, rgb(255, 0, 98) 0 2px 0, rgb(255, 0, 98) -2px 0 0, rgb(255, 0, 98) 0 -2px 0;
}

.news_text h2:hover{
    text-decoration: underline;
}

.news_text .news_contents{
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    flex-wrap: wrap;
    border-left: white solid 8px;
    padding-left: 20px;
    border-radius: 8px;
}

.news_text .news_contents p{
    margin: 4px 0;
}

.footer{
    position: relative;
    bottom: 0;
}

.date{
    color: rgb(207, 207, 207);
    font-family: caecilia;
    font-size: 20px;
    font-weight: bold;
}

.link{
    margin-top: 20px;
}

#twitter{
    border-radius: 100px;
    width: 42px;
    height: 42px;
    background-color: rgb(0, 174, 255);
    cursor: pointer;
    border: none;
    padding-top: 5px;
    margin-right: 5px;
    font-size:32px;
    color: white;
    text-align: center;
    transition: all 0.2s ease-out;
}

#twitter:hover{
    background-color: rgb(146, 221, 255);
}

#facebook{
    border-radius: 100px;
    width: 42px;
    height: 42px;
    background-color: rgb(0, 68, 255);
    cursor: pointer;
    border: none;
    padding-top: 5px;
    margin-right: 5px;
    font-size:32px;
    color: white;
    text-align: center;
    transition: all 0.2s ease-out;
}

#facebook:hover{
    background-color: rgb(73, 122, 255);
}