.no_select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes background{
    from{
        background-color: #000000;
        background-image: 
        linear-gradient(-173deg, rgb(0, 0, 0) 0%, #000000 100%),
        linear-gradient(72deg, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 100%),
        radial-gradient(47% 102%, rgb(0, 0, 0) rgb(0, 0, 0) 120%);
    }
    to{
        background-color: #797572;
        background-image: 
        linear-gradient(-173deg, rgba(255,255,255,0.20) 0%, #000000 100%),
        linear-gradient(72deg, rgba(255,255,255,0.25) 25%, rgba(0,0,0,0.25) 100%),
        radial-gradient(47% 102%, rgba(255,255,255,0.50) 0%, rgba(21,24,32,0.60) 120%);
    }
}

@-webkit-keyframes background{
    from{
        background-color: #000000;
        background-image: 
        linear-gradient(-173deg, rgb(0, 0, 0) 0%, #000000 100%),
        linear-gradient(72deg, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 100%),
        radial-gradient(47% 102%, rgb(0, 0, 0) rgb(0, 0, 0) 120%);
    }
    to{
        background-color: #797572;
        background-image: 
        linear-gradient(-173deg, rgba(255,255,255,0.20) 0%, #000000 100%),
        linear-gradient(72deg, rgba(255,255,255,0.25) 25%, rgba(0,0,0,0.25) 100%),
        radial-gradient(47% 102%, rgba(255,255,255,0.50) 0%, rgba(21,24,32,0.60) 120%);
    }
}

@keyframes fade_in_rank{
    from{
        opacity: 0; color: rgba(255, 255, 255, 0); padding-top: 90px;
    }
    to{
        opacity: 1; color: rgba(255, 255, 255, 1); padding-top: 60px;
    }
}

@-webkit-keyframes fade_in_rank{
    from{
        opacity: 0; color: rgba(255, 255, 255, 0); padding-top: 90px;
    }
    to{
        opacity: 1; color: rgba(255, 255, 255, 1); padding-top: 60px;
    }
}


body,html{
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
    background-image: 
    linear-gradient(-173deg, rgba(255,255,255,0.20) 0%, #000000 100%),
    linear-gradient(72deg, rgba(255,255,255,0.25) 25%, rgba(0,0,0,0.25) 100%),
    radial-gradient(47% 102%, rgba(255,255,255,0.50) 0%, rgba(21,24,32,0.60) 120%);
    background-blend-mode: multiply;
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: background 10s 0.5s forwards alternate infinite;
    -webkit-animation: background 10s 0.5s forwards alternate infinite;
}

#rank{
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    animation: fade_in_rank 1s forwards;
    display: block;
}

.rank_number{
    width: 125px;
    padding-top: 79px;
    font-size: 28px;
    font-family: dynamix;
    float: left;
    color: white;
    text-shadow: 0 0 10px rgba(0, 251, 255, 0.7);
}

.song_bg::after{
    content: '';
    position: relative;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: 40px;
    width: calc(100vw - 290px);
    height: 2px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 251, 255, 1);
    text-align: right;
}

.song_bg{
    display: flex;
    flex-wrap: wrap;
}

.song_bg_name div{
    padding: 7px;
}

a{
    text-decoration: none;
    outline: none;
    color: rgba(0, 0, 0, 0);
}

.song_bg_g a div{
    width: 160px;
    height: 160px;
    color: rgba(255, 255, 255, 0);
    font-family: orbitron;
    font-size: 19px;
    border-color: gray;
    border-width: 5px;
    border-style: solid;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    transition: all .1s ease-out;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
}

.song_bg_g a div:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 17px rgba(234, 234, 234, 0.5);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.song_bg_m a div{
    width: 160px;
    height: 160px;
    color: rgba(255, 255, 255, 0);
    font-family: orbitron;
    font-size: 19px;
    border-color: rgb(172, 1, 172);
    border-width: 5px;
    border-style: solid;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    transition: all .1s ease-out;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
}

.song_bg_m a div:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 17px rgba(255, 138, 255, 0.5);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.song_bg_h a div{
    width: 160px;
    height: 160px;
    color: rgba(255, 255, 255, 0);
    font-family: orbitron;
    font-size: 19px;
    border-color: rgb(186, 0, 0);
    border-width: 5px;
    border-style: solid;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    transition: all .1s ease-out;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
}

.song_bg_h a div:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 17px rgba(255, 13, 13, 0.75);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

table{
    border-collapse: collapse;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
}

.uncertain_rank_container{
    padding: 60px 0;
}

.uncertain_number{
    height: 50px;
    font-size: 30px;
    font-family: dynamix;
    color: white;
    text-shadow: 0 0 10px rgba(0, 251, 255, 0.7);
}

th{
    border-spacing: 0px;
    display: table-cell;
    width: calc(100vw / 11);
    text-align: -internal-center;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    word-break: break-word;
}

.uncertain_song{
    position: relative;
}

.uncertain_song::after{
    content: '';
    display: block;
    width: calc(100% - 2px);
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    height: 2px;
    text-align: left;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 251, 255, 1);
}

.true{
    background-color: rgba(0, 251, 255, 0.3);
}

.uncertain_song th div{
    width: calc((100vw - 100px) / 11 - 4px);
    height: calc((100vw - 100px) / 11 - 4px);
    display: table-cell;
    vertical-align: middle;
    font-family: orbitron_light;
    font-size: 19px;
    color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
}

.giga{
    border-color: gray;
    border-width: 4px;
    border-style: solid;
    transition: all .1s ease-out;
}

.giga:hover{
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.top button{
    color: rgba(255, 255, 255, 0.6);
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 70px;
    height: 70px;
    border-radius: 200px;
    background-color: rgba(69, 85, 227, 0.1);
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.3);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.06);
    transition: all .1s ease-in;
    font-size: 38px;
}

.top button:hover{
    background-color: rgba(69, 85, 227, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.95);
}