.toolbar{
    font-weight: 400;
    color: rgb(255,255,255);
}

.toolbar_container{
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.3);
    position: fixed;
    backdrop-filter: blur(10px);
    width: 100%;
    box-sizing: border-box;
    padding: 0 24px;
    height: 48px;
    line-height: 48px;
    margin: 0 auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.06);
}

.toolbar_container_left{
    -webkit-box-flex: 0;
    flex: none;
}

.dynamix_logo{
    max-width: 80px;
    height: 100%;
    margin-right: 13px;
    float: left;
}

.dynamix_logo img{
    display: block;
    margin-top: 4px;
}

.toolbar_menu{
    width: auto;
    height: 100%;
    font-size: 0;
    float: left;
    font-family: dynamix;
}

.toolbar_menu li{
    position: relative;
    display: inline-block;
    font-size: 18px;
    height: 100%;
    line-height: 48px;
    transition: all .15s ease-in;
    text-shadow: 0 0 0px rgba(255, 255, 255, 0);
}

.toolbar_menu li a{
    padding: 0 10px;
    color: rgba(255, 255, 255, 1);
}

.toolbar_menu li:hover{
    text-shadow: 0 0 10px rgb(0, 251, 255);
}

.active::after{
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: rgb(100, 227, 255);
    position: absolute;
    top: 0;
    left: 0;
}

.toolbar_container_right{
    -webkit-box-flex: 0;
    flex: none;
}

.toolbar_search{
    width: 100%;
    min-width: 600px;
    height: 32px;
    line-height: 32px;
    margin-top: 7px;
    margin-left: auto;
    position: relative;
}

.toolbar_search_container{
    width: calc(100% - 140px);
    margin-right: 30px;
    height: 100%;
    box-sizing: border-box;
    font-size: 0;
    float: left;
}

.toolbar_search_container input{
    font-size: 18px;
    display: inline-block;
    width: 90%;
    height: 100%;
    line-height: inherit;
    background: white;
    vertical-align: top;
    border: 2px solid rgb(45, 45, 45);
    border-right: none;
    box-sizing: border-box;
    border-radius: 16px;
    font-family: dynamix;
    color: rgb(45, 45, 45);
}

.toolbar_search button{
    display: inline-block;
    width: 110px;
    height: 100%;
    border-radius: 16px;
    font-size: 18px;
    line-height: 32px;
    cursor: pointer;
    transition: all .1s ease-in;
    background-color: rgb(45, 45, 45);
    border: none;
    text-align: center;
}

.toolbar_search button:hover{
    background-color: rgb(69, 85, 227);
}

.toolbar_search button span{
    display: inline-block;
    vertical-align: top;
    color: white;
    font-family: dynamix;
}

ol, ul{
    list-style: none;
}