#abyss-breaker{
	background-image: url(../song-bg/abyss-breaker.webp);
}

#abyss{
	background-image: url(../song-bg/abyss.webp);
}

#ace-sniper{
	background-image: url(../song-bg/ace-sniper.webp);
}

#acrise{
	background-image: url(../song-bg/acrise.webp);
}

#actinium{
	background-image: url(../song-bg/actinium.webp);
}

#aegis{
	background-image: url(../song-bg/aegis.webp);
}

#aeronautica{
	background-image: url(../song-bg/aeronautica.webp);
}

#aki-zakura{
	background-image: url(../song-bg/aki-zakura.webp);
}

#alone{
	background-image: url(../song-bg/alone.webp);
}

#alter-ego{
	background-image: url(../song-bg/alter-ego.webp);
}

#amphisbaena{
	background-image: url(../song-bg/amphisbaena.webp);
}

#angel-angel{
	background-image: url(../song-bg/angel-angel.webp);
}

#angstlicher-vermeidender{
	background-image: url(../song-bg/angstlicher-vermeidender.webp);
}

#anokumene{
	background-image: url(../song-bg/anokumene.webp);
}

#another-world{
	background-image: url(../song-bg/another-world.webp);
}

#antithesis{
	background-image: url(../song-bg/antithesis.webp);
}

#arcana-idola{
	background-image: url(../song-bg/arcana-idola.webp);
}

#arisu-sikkaku{
	background-image: url(../song-bg/arisu-sikkaku.webp);
}

#arty-party{
	background-image: url(../song-bg/arty-party.webp);
}

#ashes{
	background-image: url(../song-bg/ashes.webp);
}

#assassin{
	background-image: url(../song-bg/assassin.webp);
}

#astraea{
	background-image: url(../song-bg/astraea.webp);
}

#astral{
	background-image: url(../song-bg/astral.webp);
}

#aterlbus{
	background-image: url(../song-bg/aterlbus.webp);
}

#atomic-dropper{
	background-image: url(../song-bg/atomic-dropper.webp);
}

#axis{
	background-image: url(../song-bg/axis.webp);
}

#back-out{
	background-image: url(../song-bg/back-out.webp);
}

#before-sunrise{
	background-image: url(../song-bg/before-sunrise.webp);
}

#between-boundaries{
	background-image: url(../song-bg/between-boundaries.webp);
}

#bewitched{
	background-image: url(../song-bg/bewitched.webp);
}

#bit-tech-computer{
	background-image: url(../song-bg/bit-tech-computer.webp);
}

#black-horse-famine{
	background-image: url(../song-bg/black-horse-famine.webp);
}

#black-magnam{
	background-image: url(../song-bg/black-magnam.webp);
}

#blood-chivalry{
	background-image: url(../song-bg/blood-chivalry.webp);
}

#blueberry-cheesecake{
	background-image: url(../song-bg/blueberry-cheesecake.webp);
}

#bonus-time{
	background-image: url(../song-bg/bonus-time.webp);
}

#bounce-the-tech{
	background-image: url(../song-bg/bounce-the-tech.webp);
}

#caelus{
	background-image: url(../song-bg/caelus.webp);
}

#calling{
	background-image: url(../song-bg/calling.webp);
}

#catastrophe{
	background-image: url(../song-bg/catastrophe.webp);
}

#cervelle-connexion{
	background-image: url(../song-bg/cervelle-connexion.webp);
}

#chaka{
	background-image: url(../song-bg/chaka.webp);
}

#chemical-infusion{
	background-image: url(../song-bg/chemical-infusion.webp);
}

#chimeidaitian{
	background-image: url(../song-bg/chimeidaitian.webp);
}

#chromosphere{
	background-image: url(../song-bg/chromosphere.webp);
}

#chrysoberyl{
	background-image: url(../song-bg/chrysoberyl.webp);
}

#chunju{
	background-image: url(../song-bg/chunju.webp);
}

#city-girl-in-the-love{
	background-image: url(../song-bg/city-girl-in-the-love.webp);
}

#class-memories{
	background-image: url(../song-bg/class-memories.webp);
}

#cloudprince{
	background-image: url(../song-bg/cloudprince.webp);
}

#corona{
	background-image: url(../song-bg/corona.webp);
}

#counter-terrorists{
	background-image: url(../song-bg/counter-terrorists.webp);
}

#crank-up{
	background-image: url(../song-bg/crank-up.webp);
}

#creigis{
	background-image: url(../song-bg/creigis.webp);
}

#crocus{
	background-image: url(../song-bg/crocus.webp);
}

#cross-soul{
	background-image: url(../song-bg/cross-soul.webp);
}

#crossing-delta{
	background-image: url(../song-bg/crossing-delta.webp);
}

#crux{
	background-image: url(../song-bg/crux.webp);
}

#cryonix{
	background-image: url(../song-bg/cryonix.webp);
}

#crystal-clear-sky{
	background-image: url(../song-bg/crystal-clear-sky.webp);
}

#cumulus{
	background-image: url(../song-bg/cumulus.webp);
}

#dahlia{
	background-image: url(../song-bg/dahlia.webp);
}

#dangerous-insanity-2019-rework{
	background-image: url(../song-bg/dangerous-insanity-2019-rework.webp);
}

#danse-de-romani{
	background-image: url(../song-bg/danse-de-romani.webp);
}

#daydream{
	background-image: url(../song-bg/daydream.webp);
}

#dead-master{
	background-image: url(../song-bg/dead-master.webp);
}

#dead-soul{
	background-image: url(../song-bg/dead-soul.webp);
}

#deadline{
	background-image: url(../song-bg/deadline.webp);
}

#decoherence{
	background-image: url(../song-bg/decoherence.webp);
}

#decomposition{
	background-image: url(../song-bg/decomposition.webp);
}

#defended{
	background-image: url(../song-bg/defended.webp);
}

#dement-after-legend{
	background-image: url(../song-bg/dement-after-legend.webp);
}

#demonic-juggernauts{
	background-image: url(../song-bg/demonic-juggernauts.webp);
}

#depth-of-mem0ry{
	background-image: url(../song-bg/depth-of-mem0ry.webp);
}

#destroy-stress{
	background-image: url(../song-bg/destroy-stress.webp);
}

#destruction{
	background-image: url(../song-bg/destruction.webp);
}

#dhuaru-tensi{
	background-image: url(../song-bg/dhuaru-tensi.webp);
}

#distance{
	background-image: url(../song-bg/distance.webp);
}

#distraction-point{
	background-image: url(../song-bg/distraction-point.webp);
}

#dusky-disslove{
	background-image: url(../song-bg/dusky-disslove.webp);
}

#eclipses{
	background-image: url(../song-bg/eclipses.webp);
}

#eldredth{
	background-image: url(../song-bg/eldredth.webp);
}

#elyxivn-elyxium{
	background-image: url(../song-bg/elyxivn-elyxium.webp);
}

#emulisy{
	background-image: url(../song-bg/emulisy.webp);
}

#encore{
	background-image: url(../song-bg/encore.webp);
}

#energy{
	background-image: url(../song-bg/energy.webp);
}

#enhanced-lights{
	background-image: url(../song-bg/enhanced-lights.webp);
}

#ennor{
	background-image: url(../song-bg/ennor.webp);
}

#envy-luvs-melancholy{
	background-image: url(../song-bg/envy-luvs-melancholy.webp);
}

#ephemeral-echo{
	background-image: url(../song-bg/ephemeral-echo.webp);
}

#eschatology{
	background-image: url(../song-bg/eschatology.webp);
}

#euouae{
	background-image: url(../song-bg/euouae.webp);
}

#evoltex-poppi-n-mix{
	background-image: url(../song-bg/evoltex-poppi-n-mix.webp);
}

#fabula-proelium-magna{
	background-image: url(../song-bg/fabula-proelium-magna.webp);
}

#fading-sky{
	background-image: url(../song-bg/fading-sky.webp);
}

#faithtival{
	background-image: url(../song-bg/faithtival.webp);
}

#far-east-frontline{
	background-image: url(../song-bg/far-east-frontline.webp);
}

#fatality-saga{
	background-image: url(../song-bg/fatality-saga.webp);
}

#fengyu{
	background-image: url(../song-bg/fengyu.webp);
}

#fierce-heart{
	background-image: url(../song-bg/fierce-heart.webp);
}

#final-dash{
	background-image: url(../song-bg/final-dash.webp);
}

#fireworks{
	background-image: url(../song-bg/fireworks.webp);
}

#fission{
	background-image: url(../song-bg/fission.webp);
}

#fl0at-on-air{
	background-image: url(../song-bg/fl0at-on-air.webp);
}

#flarebirds-of-scarlet-prism{
	background-image: url(../song-bg/flarebirds-of-scarlet-prism.webp);
}

#flashback{
	background-image: url(../song-bg/flashback.webp);
}

#forsaken{
	background-image: url(../song-bg/forsaken.webp);
}

#fortalice{
	background-image: url(../song-bg/fortalice.webp);
}

#freewheeling{
	background-image: url(../song-bg/freewheeling.webp);
}

#freeze{
	background-image: url(../song-bg/freeze.webp);
}

#frontline-b-side{
	background-image: url(../song-bg/frontline-b-side.webp);
}

#funk-time{
	background-image: url(../song-bg/funk-time.webp);
}

#galaxia{
	background-image: url(../song-bg/galaxia.webp);
}

#gallium-arsenide{
	background-image: url(../song-bg/gallium-arsenide.webp);
}

#gallium-nitride{
	background-image: url(../song-bg/gallium-nitride.webp);
}

#gallium-phosphide{
	background-image: url(../song-bg/gallium-phosphide.webp);
}

#gift{
	background-image: url(../song-bg/gift.webp);
}

#give-it-to-me{
	background-image: url(../song-bg/give-it-to-me.webp);
}

#glacial-liquart-remix{
	background-image: url(../song-bg/glacial-liquart-remix.webp);
}

#gleam-stone{
	background-image: url(../song-bg/gleam-stone.webp);
}

#go-escape{
	background-image: url(../song-bg/go-escape.webp);
}

#goemon{
	background-image: url(../song-bg/goemon.webp);
}

#goldelius{
	background-image: url(../song-bg/goldelius.webp);
}

#grenade{
	background-image: url(../song-bg/grenade.webp);
}

#grey-horse-underworld{
	background-image: url(../song-bg/grey-horse-underworld.webp);
}

#guilty-hostage{
	background-image: url(../song-bg/guilty-hostage.webp);
}

#hakushoku-no-yume-de{
	background-image: url(../song-bg/hakushoku-no-yume-de.webp);
}

#hall-of-fame{
	background-image: url(../song-bg/hall-of-fame.webp);
}

#happiness-bread{
	background-image: url(../song-bg/happiness-bread.webp);
}

#haptime{
	background-image: url(../song-bg/haptime.webp);
}

#hatsukoi-memories{
	background-image: url(../song-bg/hatsukoi-memories.webp);
}

#hauynite{
	background-image: url(../song-bg/hauynite.webp);
}

#headroom-with-pleasant-rhythm{
	background-image: url(../song-bg/headroom-with-pleasant-rhythm.webp);
}

#heart-eyes{
	background-image: url(../song-bg/heart-eyes.webp);
}

#helios{
	background-image: url(../song-bg/helios.webp);
}

#hemisphere{
	background-image: url(../song-bg/hemisphere.webp);
}

#heracles{
	background-image: url(../song-bg/heracles.webp);
}

#hiccup-drunk{
	background-image: url(../song-bg/hiccup-drunk.webp);
}

#high-speed-riders{
	background-image: url(../song-bg/high-speed-riders.webp);
}

#hiyaiya{
	background-image: url(../song-bg/hiyaiya.webp);
}

#hong{
	background-image: url(../song-bg/hong.webp);
}

#honkonnokizyutusi{
	background-image: url(../song-bg/honkonnokizyutusi.webp);
}

#hope{
	background-image: url(../song-bg/hope.webp);
}

#hopeful-warrior{
	background-image: url(../song-bg/hopeful-warrior.webp);
}

#hoshizoratoraberu{
	background-image: url(../song-bg/hoshizoratoraberu.webp);
}

#human{
	background-image: url(../song-bg/human.webp);
}

#huozhe{
	background-image: url(../song-bg/huozhe.webp);
}

#hyper-nova{
	background-image: url(../song-bg/hyper-nova.webp);
}

#hyperspace-jump{
	background-image: url(../song-bg/hyperspace-jump.webp);
}

#ice-chandelier{
	background-image: url(../song-bg/ice-chandelier.webp);
}

#impromptu{
	background-image: url(../song-bg/impromptu.webp);
}

#in-a-vat{
	background-image: url(../song-bg/in-a-vat.webp);
}

#in-search-of{
	background-image: url(../song-bg/in-search-of.webp);
}

#infinite-enerzy-overdoze{
	background-image: url(../song-bg/infinite-enerzy-overdoze.webp);
}

#innocension{
	background-image: url(../song-bg/innocension.webp);
}

#invaded{
	background-image: url(../song-bg/invaded.webp);
}

#ionosphere{
	background-image: url(../song-bg/ionosphere.webp);
}

#isera-dnx-edit{
	background-image: url(../song-bg/isera-dnx-edit.webp);
}

#jack-out-killer{
	background-image: url(../song-bg/jack-out-killer.webp);
}

#joachim-d{
	background-image: url(../song-bg/joachim-d.webp);
}

#kalis-mind{
	background-image: url(../song-bg/kalis-mind.webp);
}

#kanashiiryuutokaitul{
	background-image: url(../song-bg/kanashiiryuutokaitul.webp);
}

#keigannozettaireido{
	background-image: url(../song-bg/keigannozettaireido.webp);
}

#knight-of-tripletz-for-dnx-edit{
	background-image: url(../song-bg/knight-of-tripletz-for-dnx-edit.webp);
}

#kog{
	background-image: url(../song-bg/kog.webp);
}

#kokytos{
	background-image: url(../song-bg/kokytos.webp);
}

#kreuz{
	background-image: url(../song-bg/kreuz.webp);
}

#kyubi{
	background-image: url(../song-bg/kyubi.webp);
}

#lacrimosa{
	background-image: url(../song-bg/lacrimosa.webp);
}

#laivisca{
	background-image: url(../song-bg/laivisca.webp);
}

#last-farewell{
	background-image: url(../song-bg/last-farewell.webp);
}

#lava-control{
	background-image: url(../song-bg/lava-control.webp);
}

#le-ciel-heureux{
	background-image: url(../song-bg/le-ciel-heureux.webp);
}

#leave-me{
	background-image: url(../song-bg/leave-me.webp);
}

#legacy{
	background-image: url(../song-bg/legacy.webp);
}

#lehigh{
	background-image: url(../song-bg/lehigh.webp);
}

#libra{
	background-image: url(../song-bg/libra.webp);
}

#life-flashes-before-weeb-eyes{
	background-image: url(../song-bg/life-flashes-before-weeb-eyes.webp);
}

#life-style{
	background-image: url(../song-bg/life-style.webp);
}

#lily{
	background-image: url(../song-bg/lily.webp);
}

#linghaocheliang{
	background-image: url(../song-bg/linghaocheliang.webp);
}

#link-to-dungeons{
	background-image: url(../song-bg/link-to-dungeons.webp);
}

#little-boy{
	background-image: url(../song-bg/little-boy.webp);
}

#lodeinfo{
	background-image: url(../song-bg/lodeinfo.webp);
}

#lonely-cat{
	background-image: url(../song-bg/lonely-cat.webp);
}

#lotus{
	background-image: url(../song-bg/lotus.webp);
}

#love-like-we-re-dying{
	background-image: url(../song-bg/love-like-we-re-dying.webp);
}

#lucentear{
	background-image: url(../song-bg/lucentear.webp);
}

#lucid-trigger{
	background-image: url(../song-bg/lucid-trigger.webp);
}

#lumina{
	background-image: url(../song-bg/lumina.webp);
}

#lunar-arrow{
	background-image: url(../song-bg/lunar-arrow.webp);
}

#luxvinore{
	background-image: url(../song-bg/luxvinore.webp);
}

#magic-of-love-dynamix-ver{
	background-image: url(../song-bg/magic-of-love-dynamix-ver.webp);
}

#marion-net{
	background-image: url(../song-bg/marion-net.webp);
}

#marsh-winds{
	background-image: url(../song-bg/marsh-winds.webp);
}

#mass-control{
	background-image: url(../song-bg/mass-control.webp);
}

#massacre-3rc4224m{
	background-image: url(../song-bg/massacre-3rc4224m.webp);
}

#mechanical-jager{
	background-image: url(../song-bg/mechanical-jager.webp);
}

#mechanismos-ton-antikythiron{
	background-image: url(../song-bg/mechanismos-ton-antikythiron.webp);
}

#mega-pop{
	background-image: url(../song-bg/mega-pop.webp);
}

#metheus{
	background-image: url(../song-bg/metheus.webp);
}

#metropolitan-chaser{
	background-image: url(../song-bg/metropolitan-chaser.webp);
}

#mid-night-metropolitan-highway{
	background-image: url(../song-bg/mid-night-metropolitan-highway.webp);
}

#mind-blast-dynamix-edit{
	background-image: url(../song-bg/mind-blast-dynamix-edit.webp);
}

#mitochondria{
	background-image: url(../song-bg/mitochondria.webp);
}

#mlg{
	background-image: url(../song-bg/mlg.webp);
}

#moonlight-of-sand-castle{
	background-image: url(../song-bg/moonlight-of-sand-castle.webp);
}

#moshi-moshi-bit{
	background-image: url(../song-bg/moshi-moshi-bit.webp);
}

#mouse-runs-for-cheese-short-edit{
	background-image: url(../song-bg/mouse-runs-for-cheese-short-edit.webp);
}

#mousou-tyu{
	background-image: url(../song-bg/mousou-tyu.webp);
}

#moving-on{
	background-image: url(../song-bg/moving-on.webp);
}

#mystic-night{
	background-image: url(../song-bg/mystic-night.webp);
}

#n16383{
	background-image: url(../song-bg/n16383.webp);
}

#n2000volt{
	background-image: url(../song-bg/n2000volt.webp);
}

#n28L-28L2B5E29{
	background-image: url(../song-bg/n28L-28L2B5E29.webp);
}

#n8-bit-goa-4{
	background-image: url(../song-bg/n8-bit-goa-4.webp);
}

#nanasinosenkyousi{
	background-image: url(../song-bg/nanasinosenkyousi.webp);
}

#nanohemu{
	background-image: url(../song-bg/nanohemu.webp);
}

#natuiro-merankori{
	background-image: url(../song-bg/natuiro-merankori.webp);
}

#necroxus{
	background-image: url(../song-bg/necroxus.webp);
}

#nehanwotomosuschadenfreude{
	background-image: url(../song-bg/nehanwotomosuschadenfreude.webp);
}

#nick-of-time{
	background-image: url(../song-bg/nick-of-time.webp);
}

#nightmare-girl{
	background-image: url(../song-bg/nightmare-girl.webp);
}

#nightseeker{
	background-image: url(../song-bg/nightseeker.webp);
}

#nighttheater{
	background-image: url(../song-bg/nighttheater.webp);
}

#noisia{
	background-image: url(../song-bg/noisia.webp);
}

#nova{
	background-image: url(../song-bg/nova.webp);
}

#now-is-the-time-do-it{
	background-image: url(../song-bg/now-is-the-time-do-it.webp);
}

#occhoco-rest-less{
	background-image: url(../song-bg/occhoco-rest-less.webp);
}

#offshore{
	background-image: url(../song-bg/offshore.webp);
}

#okesuchi{
	background-image: url(../song-bg/okesuchi.webp);
}

#omohidefantasia{
	background-image: url(../song-bg/omohidefantasia.webp);
}

#once-again-dnx-edit{
	background-image: url(../song-bg/once-again-dnx-edit.webp);
}

#oracle{
	background-image: url(../song-bg/oracle.webp);
}

#oriental-landscape{
	background-image: url(../song-bg/oriental-landscape.webp);
}

#outer-space{
	background-image: url(../song-bg/outer-space.webp);
}

#own-the-night{
	background-image: url(../song-bg/own-the-night.webp);
}

#pandemik{
	background-image: url(../song-bg/pandemik.webp);
}

#pantomaimu{
	background-image: url(../song-bg/pantomaimu.webp);
}

#parallel-address{
	background-image: url(../song-bg/parallel-address.webp);
}

#party-vinyl{
	background-image: url(../song-bg/party-vinyl.webp);
}

#pasotomaimu-feat-ia{
	background-image: url(../song-bg/pasotomaimu-feat-ia.webp);
}

#paved-garden{
	background-image: url(../song-bg/paved-garden.webp);
}

#persephone{
	background-image: url(../song-bg/persephone.webp);
}

#perspicuus-aestus{
	background-image: url(../song-bg/perspicuus-aestus.webp);
}

#petal{
	background-image: url(../song-bg/petal.webp);
}

#petalstep{
	background-image: url(../song-bg/petalstep.webp);
}

#phi{
	background-image: url(../song-bg/phi.webp);
}

#phoenixismia{
	background-image: url(../song-bg/phoenixismia.webp);
}

#physical-cosmology{
	background-image: url(../song-bg/physical-cosmology.webp);
}

#pixevlazz{
	background-image: url(../song-bg/pixevlazz.webp);
}

#polaris-australis{
	background-image: url(../song-bg/polaris-australis.webp);
}

#pollux{
	background-image: url(../song-bg/pollux.webp);
}

#prime{
	background-image: url(../song-bg/prime.webp);
}

#prismatic-flipper{
	background-image: url(../song-bg/prismatic-flipper.webp);
}

#pupa{
	background-image: url(../song-bg/pupa.webp);
}

#purazuma-purasu-puratina{
	background-image: url(../song-bg/purazuma-purasu-puratina.webp);
}

#qingfang{
	background-image: url(../song-bg/qingfang.webp);
}

#ragnarok{
	background-image: url(../song-bg/ragnarok.webp);
}

#rain{
	background-image: url(../song-bg/rain.webp);
}

#raseed{
	background-image: url(../song-bg/raseed.webp);
}

#raving-in-halloween{
	background-image: url(../song-bg/raving-in-halloween.webp);
}

#re-construct{
	background-image: url(../song-bg/re-construct.webp);
}

#re-correct{
	background-image: url(../song-bg/re-correct.webp);
}

#re-ignite-republic-of-gamers{
	background-image: url(../song-bg/re-ignite-republic-of-gamers.webp);
}

#reborn{
	background-image: url(../song-bg/reborn.webp);
}

#reconstruction{
	background-image: url(../song-bg/reconstruction.webp);
}

#red-horse-massacre{
	background-image: url(../song-bg/red-horse-massacre.webp);
}

#red-liquid{
	background-image: url(../song-bg/red-liquid.webp);
}

#regenerate-violence{
	background-image: url(../song-bg/regenerate-violence.webp);
}

#reiro-meteor{
	background-image: url(../song-bg/reiro-meteor.webp);
}

#relyna{
	background-image: url(../song-bg/relyna.webp);
}

#restricted-access{
	background-image: url(../song-bg/restricted-access.webp);
}

#riot-flavor{
	background-image: url(../song-bg/riot-flavor.webp);
}

#rocket-lanterns{
	background-image: url(../song-bg/rocket-lanterns.webp);
}

#rocky-buinne{
	background-image: url(../song-bg/rocky-buinne.webp);
}

#rom-corruption{
	background-image: url(../song-bg/rom-corruption.webp);
}

#rondo-of-the-3nd{
	background-image: url(../song-bg/rondo-of-the-3nd.webp);
}

#sakura-fubuki{
	background-image: url(../song-bg/sakura-fubuki.webp);
}

#sandwich{
	background-image: url(../song-bg/sandwich.webp);
}

#seconded-world{
	background-image: url(../song-bg/seconded-world.webp);
}

#seedy-try{
	background-image: url(../song-bg/seedy-try.webp);
}

#shinobi-original-short-mix{
	background-image: url(../song-bg/shinobi-original-short-mix.webp);
}

#sin-of-souls{
	background-image: url(../song-bg/sin-of-souls.webp);
}

#skrik{
	background-image: url(../song-bg/skrik.webp);
}

#sky-adventure{
	background-image: url(../song-bg/sky-adventure.webp);
}

#sleepless{
	background-image: url(../song-bg/sleepless.webp);
}

#slyness-foxx{
	background-image: url(../song-bg/slyness-foxx.webp);
}

#snowy-light{
	background-image: url(../song-bg/snowy-light.webp);
}

#soar-to{
	background-image: url(../song-bg/soar-to.webp);
}

#soul-army{
	background-image: url(../song-bg/soul-army.webp);
}

#space-runners{
	background-image: url(../song-bg/space-runners.webp);
}

#spooky-macaron{
	background-image: url(../song-bg/spooky-macaron.webp);
}

#stage-5{
	background-image: url(../song-bg/stage-5.webp);
}

#starbirds-of-zenith-blue{
	background-image: url(../song-bg/starbirds-of-zenith-blue.webp);
}

#stardust{
	background-image: url(../song-bg/stardust.webp);
}

#startail{
	background-image: url(../song-bg/startail.webp);
}

#sultan-madness{
	background-image: url(../song-bg/sultan-madness.webp);
}

#sunset-toybox-feat-momohinanano{
	background-image: url(../song-bg/sunset-toybox-feat-momohinanano.webp);
}

#super-macaron{
	background-image: url(../song-bg/super-macaron.webp);
}

#supernova{
	background-image: url(../song-bg/supernova.webp);
}

#sushi-tornado{
	background-image: url(../song-bg/sushi-tornado.webp);
}

#sutta-monday{
	background-image: url(../song-bg/sutta-monday.webp);
}

#system-interior{
	background-image: url(../song-bg/system-interior.webp);
}

#syuga-hai{
	background-image: url(../song-bg/syuga-hai.webp);
}

#tainqi-fracture{
	background-image: url(../song-bg/tainqi-fracture.webp);
}

#taunami{
	background-image: url(../song-bg/taunami.webp);
}

#teardrops{
	background-image: url(../song-bg/teardrops.webp);
}

#tech-nique{
	background-image: url(../song-bg/tech-nique.webp);
}

#tenebris{
	background-image: url(../song-bg/tenebris.webp);
}

#termination{
	background-image: url(../song-bg/termination.webp);
}

#the-defiant-s-anthem{
	background-image: url(../song-bg/the-defiant-s-anthem.webp);
}

#the-dystopia-s-tomorrow{
	background-image: url(../song-bg/the-dystopia-s-tomorrow.webp);
}

#the-endless-for-traveller{
	background-image: url(../song-bg/the-endless-for-traveller.webp);
}

#the-last-arcady{
	background-image: url(../song-bg/the-last-arcady.webp);
}

#the-mysterious-man{
	background-image: url(../song-bg/the-mysterious-man.webp);
}

#the-path{
	background-image: url(../song-bg/the-path.webp);
}

#the-show-s-over{
	background-image: url(../song-bg/the-show-s-over.webp);
}

#theme-of-rabi-ribi{
	background-image: url(../song-bg/theme-of-rabi-ribi.webp);
}

#tianqi-fracture{
	background-image: url(../song-bg/tianqi-fracture.webp);
}

#tianzhao-giga{
	background-image: url(../song-bg/tianzhao-giga.webp);
}

#tianzhao-mega{
	background-image: url(../song-bg/tianzhao-mega.webp);
}

#time-space-dynamix-edit{
	background-image: url(../song-bg/time-space-dynamix-edit.webp);
}

#to-soar{
	background-image: url(../song-bg/to-soar.webp);
}

#totally-bounded{
	background-image: url(../song-bg/totally-bounded.webp);
}

#triumph-regret{
	background-image: url(../song-bg/triumph-regret.webp);
}

#tronica-and-fugue{
	background-image: url(../song-bg/tronica-and-fugue.webp);
}

#tsuinomaihime{
	background-image: url(../song-bg/tsuinomaihime.webp);
}

#tumi{
	background-image: url(../song-bg/tumi.webp);
}

#tuolin{
	background-image: url(../song-bg/tuolin.webp);
}

#turning-point{
	background-image: url(../song-bg/turning-point.webp);
}

#uchouten-highway{
	background-image: url(../song-bg/uchouten-highway.webp);
}

#ultimate-lachesism{
	background-image: url(../song-bg/ultimate-lachesism.webp);
}

#unidentified-new-entry{
	background-image: url(../song-bg/unidentified-new-entry.webp);
}

#unshakable{
	background-image: url(../song-bg/unshakable.webp);
}

#unsung-hero{
	background-image: url(../song-bg/unsung-hero.webp);
}

#vanilla-sky{
	background-image: url(../song-bg/vanilla-sky.webp);
}

#variance{
	background-image: url(../song-bg/variance.webp);
}

#vengeance{
	background-image: url(../song-bg/vengeance.webp);
}

#venus-invader{
	background-image: url(../song-bg/venus-invader.webp);
}

#vexaria{
	background-image: url(../song-bg/vexaria.webp);
}

#viatores{
	background-image: url(../song-bg/viatores.webp);
}

#virtual-nature{
	background-image: url(../song-bg/virtual-nature.webp);
}

#volcano{
	background-image: url(../song-bg/volcano.webp);
}

#waldjaegerin{
	background-image: url(../song-bg/waldjaegerin.webp);
}

#wandunnimingxin{
	background-image: url(../song-bg/wandunnimingxin.webp);
}

#wanted-robbery{
	background-image: url(../song-bg/wanted-robbery.webp);
}

#war-in-the-mirrorworld{
	background-image: url(../song-bg/war-in-the-mirrorworld.webp);
}

#welcome-ssspooky{
	background-image: url(../song-bg/welcome-ssspooky.webp);
}

#whirlwind{
	background-image: url(../song-bg/whirlwind.webp);
}

#white-chocolate-dynamix-edit{
	background-image: url(../song-bg/white-chocolate-dynamix-edit.webp);
}

#white-chocolate{
	background-image: url(../song-bg/white-chocolate.webp);
}

#white-horse-disease{
	background-image: url(../song-bg/white-horse-disease.webp);
}

#white-revolve{
	background-image: url(../song-bg/white-revolve.webp);
}

#win-bow{
	background-image: url(../song-bg/win-bow.webp);
}

#wonderful-days{
	background-image: url(../song-bg/wonderful-days.webp);
}

#worldwide-rave-attack{
	background-image: url(../song-bg/worldwide-rave-attack.webp);
}

#wuthering-weapon{
	background-image: url(../song-bg/wuthering-weapon.webp);
}

#wuthering-wind{
	background-image: url(../song-bg/wuthering-wind.webp);
}

#xd{
	background-image: url(../song-bg/xd.webp);
}

#xetta{
	background-image: url(../song-bg/xetta.webp);
}

#yinghochongnoyuan{
	background-image: url(../song-bg/yinghochongnoyuan.webp);
}

#yinmeihua{
	background-image: url(../song-bg/yinmeihua.webp);
}

#yotta{
	background-image: url(../song-bg/yotta.webp);
}

#you-psy{
	background-image: url(../song-bg/you-psy.webp);
}

#you-spin-me-around{
	background-image: url(../song-bg/you-spin-me-around.webp);
}

#you-were-with-a-boy{
	background-image: url(../song-bg/you-were-with-a-boy.webp);
}

#youth{
	background-image: url(../song-bg/youth.webp);
}

#zephyr{
	background-image: url(../song-bg/zephyr.webp);
}

#zuiqu{
	background-image: url(../song-bg/zuiqu.webp);
}

